/*****VARIABLES*****/
*::-webkit-input-placeholder {
  color: #008fcf;
  opacity: 1; }

*:-moz-placeholder {
  color: #008fcf;
  opacity: 1; }

*::-moz-placeholder {
  color: #008fcf;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #008fcf;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  box-shadow: red 0 0 0 1px; }

body input:required:valid,
body textarea:required:valid {
  background-color: white;
  border: 3px solid green;
  box-shadow: inset 0 0 21px rgba(0, 0, 0, 0.06); }

/************GENERAL CSS*************/
/****footer to the bottom of the window****/
html,
body {
  height: 100%; }

body {
  color: #fff;
  font-family: 'RainTungstenMedium', sans-serif;
  line-height: 1;
  min-width: 320px;
  position: relative;
  overflow-x: hidden; }

.wrap {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto; }

h1 {
  color: #008fcf;
  font-family: 'RainTungstenMedium', sans-serif;
  font-size: 72px;
  font-weight: 500;
  margin: 0; }

h2 {
  color: #008fcf;
  font-size: 60px;
  font-weight: 500;
  line-height: 18px; }

p {
  margin: 0;
  padding: 0; }

.hidden {
  display: none; }

/***********HEADER***********/
.headertop__wrap {
  position: relative;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  background: url(../img/header_top_bg.png) no-repeat;
  background-size: cover;
  min-height: 201px;
  text-align: center;
  margin: 0 auto; }

.headertop__logo,
.headertop__menu,
.headertop__btn {
  float: left; }

.headertop__btn {
  float: right; }

.headertop__menu {
  display: inline-block;
  list-style: none;
  font-size: 0;
  text-align: center;
  margin: 0 auto;
  margin-left: -3%;
  padding: 63px 0 0 2%; }

.headertop__menu li {
  font-family: 'RainTungstenMedium', sans-serif;
  display: inline-block;
  margin-right: 14px; }
  .headertop__menu li:last-child {
    margin-right: 0; }
  .headertop__menu li a {
    font-size: 21px;
    color: #d7ebf5;
    text-transform: uppercase;
    -webkit-transition: all .25s;
            transition: all .25s;
    line-height: 1.143; }
    .headertop__menu li a:hover {
      color: #fff;
      text-decoration: underline; }

.headertop__btn {
  background: url("../img/btn_bg.png") no-repeat;
  height: 132px;
  font-size: 36px;
  font-weight: 500;
  margin: 1px -40px 0 0; }
  .headertop__btn p {
    padding-left: 27%; }
    .headertop__btn p span {
      font-size: 24px; }
  .headertop__btn .btn_wrap {
    width: 231px;
    margin-top: 25px; }
  .headertop__btn .button {
    color: #fff;
    font-size: 27px;
    text-align: center;
    -webkit-transition: all .5s;
            transition: all .5s;
    cursor: pointer; }
    .headertop__btn .button:hover {
      color: #008fcf; }

/*sandwich*/
.main_mnu_button {
  background-color: transparent;
  border: none;
  color: #fff;
  display: none;
  font-size: 26px;
  text-align: center;
  outline: none;
  margin: 0 auto; }

/****VIDEO_CONTENT****/
.header_videobg {
  position: relative; }

.hd__content {
  position: absolute;
  top: 40%;
  font-family: 'Open Sans', sans-serif;
  background-color: #FFE42C;
  padding: 28px;
  z-index: 999; }
  .hd__content h1 {
    font-size: 2em;
    font-weight: 700; }
  .hd__content p {
    margin-top: 14px; }
  .hd__content a {
    color: #333; }

/*video_bg*/
.video__bg > video {
  min-width: 100%;
  min-height: 100%;
  margin-top: -8%;
  width: auto;
  height: auto
  /*background: grey;*/ }

video {
  height: auto;
  width: 100%; }

/****SECTION****/
section {
  margin-top: 67px; }

.pad_null {
  padding: 0; }

.content__bg {
  background: url("../img/content_bg.jpg") no-repeat;
  height: 683px; }

.awards__list {
  font-family: 'RainTungstenMedium';
  font-size: 24px;
  font-weight: 500;
  list-style-type: none;
  margin-left: 22%;
  padding-top: 2%;
  width: 75%; }
  .awards__list span {
    display: inline-block;
    font-size: 72px;
    font-weight: 500;
    vertical-align: top;
    width: 28%; }
  .awards__list p {
    display: inline-block;
    width: 70%; }

.padL {
  padding: 0 0 0 5%; }

.padR {
  padding: 0 7% 0 2%; }

.awards__item {
  height: 94px;
  border-top: 1px solid #73bdde;
  padding-left: 5%; }
  .awards__item:last-child {
    border-bottom: 1px solid #73bdde; }

.content__info h1 span {
  color: #e25460; }

.content__info p {
  font-size: 14px;
  font-family: 'open_sansregular';
  color: #000;
  line-height: 24px; }
  .content__info p:nth-child(2) {
    margin: 20px 0; }

/*	***NEWS*****/
.news {
  color: #000;
  text-align: left;
  background: url("../img/olympic.png") no-repeat;
  background-size: cover;
  min-height: 1000px; }
  .news h2 {
    text-align: center;
    color: #008fcf;
    margin-top: 0; }
  .news h3 {
    font-size: 40px; }
  .news .news__content {
    font-family: 'open_sansregular';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #d61a2c; }
  .news .wrap__content {
    border-bottom: 2px solid #008cce; }
  .news .wrap__feedback {
    font-size: 16px;
    font-family: 'open_sansregular';
    padding: 47px 10px 0 10px; }
  .news .wrap__feed_date {
    float: left; }
  .news .wrap__feed_comment {
    float: right; }
  .news .feedback__btn {
    color: #008fcf;
    cursor: pointer;
    font-family: 'RainTungstenMedium';
    font-size: 30px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: left;
    padding: 27px 0 0 10px; }

.news__wrap_gallery {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 22px; }
  .news__wrap_gallery img {
    width: 100%; }
  .news__wrap_gallery a {
    display: none; }
    .news__wrap_gallery a:first-child {
      display: block; }

/****FOOTER****/
footer {
  background: url("../img/footer.png") bottom center no-repeat;
  background-size: cover;
  font-family: 'ExoThin';
  height: 85px;
  line-height: 101px;
  text-align: left; }

.footer__rights {
  color: #fff;
  font-family: Exo2 0;
  font-size: 16px; }

/****POP_UP****/
.pop_form {
  text-align: center; }
  .pop_form h3 {
    padding-left: 63px;
    text-align: left;
    font-size: 24px;
    color: #008fcf;
    margin: 0; }
  .pop_form p {
    font-size: 17px;
    padding: 0 0 5px 62px;
    text-align: left; }
  .pop_form input, .pop_form select {
    font-size: 17px;
    letter-spacing: 0.9px;
    width: 73%;
    padding: 2% 2%;
    margin: 4%;
    color: #000; }
  .pop_form .help {
    font-weight: 700;
    text-align: center;
    padding: 0;
    padding-bottom: 5px; }
  .pop_form .button {
    border-radius: 7px;
    background: red;
    color: #fff;
    font-family: 'open_sansregular';
    display: block;
    padding: 9px;
    margin-bottom: 20px;
    margin: 0 auto;
    text-transform: uppercase;
    width: 50%; }

	/*.pop_form .fancybox-inner {
		width: 260px!important;
	}

	.pop_form .fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened {
		width: 276px!important;
	}*/

/*# sourceMappingURL=main.css.map */