/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	h1 {
		font-size: 64px;
	}

	.headertop__logo,
	.headertop__btn {
		width: 25%;
	}

	.headertop__logo img{
		width: 90%;
	}
	.headertop__menu li a {
		font-size: 19px;
	}

	.headertop__menu {
		width: 50%;
	}

	.awards__list {
		font-size: 20px;
		span {
			font-size: 50px;
		}
	}

	.awards__item {
		height: 86px;
	}

	.content__info p {
		font-size: 13px;
		line-height: 21px;
	}

	.content__info p:nth-child(2) {
		margin: 0;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.headertop__logo,
	.headertop__btn {
		width: 30%;
	}

	.headertop__logo img{
		width: 180px;
	}
	.headertop__menu li{
		font-size: 19px;
		margin-top: 15px;
	}

	.headertop__menu {
		padding: 2% 0 0 0;
		width: 40%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.headertop__wrap {
		background: #1a315d;
	}

	.headertop__logo {
		width: 50%;
		float: left;
		img {
			width: 156px;
		}
	}

	.headertop__btn {
		margin: 0;
		float: right;
		width: 50%;
		p {
			text-align: left;
			padding-left: 22%;
			
		}
	}

	.headertop__menu {
		padding: 0 13%;
		width: 100%;
	}

	.headertop__menu li a {
		font-size: 22px;
	}

	.main_mnu_button {
		padding-top: 20px;
		display: block;
		margin: 0 auto;
	}

	.headertop__menu {
		margin: auto;
	}
	.headertop__menu_list {
		position: absolute;
		left: 50%;
		transform: translate(-50%,0);
		margin: 10px auto;
		border:1px solid #fff;
		background: rgba(80, 90, 127, .5);
		text-align: center;
		padding: 0;
		display: block;
	}

	.headertop__menu li {
		margin:10px auto;
		display: block;
		border-bottom: 1px solid grey;
		padding: 0 15%;
	} 

	.headertop__wrap{
		padding-bottom: 20px;
	}

	.video__bg > video {
		display: none;
	}

}

@media only screen and (max-width:660px) {
	
}

@media only screen and (max-width : 600px) {
	

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.headertop__logo {
		width: 100%;
	}


	.headertop__btn {
		background: url(../img/btn_bg.png) center no-repeat;
		width: 100%;
		p {
			text-align: center;
			padding: 10px 0 0 0;
		}
		.btn_wrap {
			width: 231px;
			margin: auto;
			margin-top: 12px;
		}
	}

	.main_mnu_button {
		padding-top: 20px;
		display: block;
		margin: 0 auto;
	}

	.headertop__menu {
		margin: auto;
	}
	.headertop__menu_list {
		margin: 10px auto;
		border:1px solid #fff;
		background: rgba(80, 90, 127, .5);
		text-align: center;
		padding: 0;
		display: block;
	}

	.headertop__menu li {
		margin:10px auto;
		display: block;
		border-bottom: 1px solid grey;
	} 

	.headertop__wrap{
		padding-bottom: 20px;
	}


}



