.clients
	text-align center
	background greybg
	img
		display block
		margin 0 auto
	
.bx-wrapper .bx-viewport {
    box-shadow: none
    border: none
    left: -5px;
    background: none 
}

a.bx-next
	margin-right 15px

.clients__slider
	position relative
	a.disabled 
		display:none
	
.clients-slider__prev,
.clients-slider__next
	position absolute
	top 50%
	
.clients-slider__prev
	left -5%
	.bx-prev
		display block
		width: 16px
		height: 16px
		background url('../img/svg/arrow-left.svg') no-repeat
		background-size 100%
	
.clients-slider__next
	right -5%
	.bx-next
		display block
		width: 16px
		height: 16px
		background url('../img/svg/arrow-right.svg') no-repeat
		background-size 100%
	
	