.facts
	color #fff
	text-align center
	background url('../img/general/facts_bg.png') 0 0 no-repeat
	background-size cover
	height 690px
	position relative
	width 100%
	
		
	
.facts-item__wrap
	height 353px
	width 100%
	max-width 830px
	background rgba(255, 255, 255, .34)
	margin 0 auto
	padding 50px
	position relative
	&:after
		content ''
		position absolute
		width 75px
		height 7px
		background-color #e64a19
		display block
		bottom 0
		left 50%
		margin-left -38px
	
	
.facts-item
	text-align center
	display inline-block
	width 40%
	margin 0 2% 40px
	span
		font-size: 27px
		font-weight: 700
		color #eee
	p
		font-size 24px
		color #eee
	.facts-item__separat
		width 75px
		height 4px
		background-color #4d4c4b
		margin 15px auto
	
	

	