.portfolio
	text-align center
	padding 0
	.text
		position relative
		&:after
			position absolute
			content ''
			display block
			width: 75px
			height: 7px
			background-color orange
			left: 50%
			margin-left: -35px
			margin-top: 50px
			
.js-portfolio-slider 
	margin-top 50px
	
.portfolio-filter,
.filter 
	padding-top 100px
	li
		display inline-block
		margin-right 10px
		font-size 16px
			
.bx-wrapper {
    margin-top: 0
}

.filter 
	padding 0 0 20px 0

.filter-slider__content
	display none
	
.slick-dots
	li
		button
			&:before
				font-size 11px
			&:hover
				opacity 1
				color #e64 !important
				
.slick-active
	button
		&:before,
		&:hover
			opacity 1
			color #e64a19 !important
	
	
