.quote_autor
	font-weight normal
	font-style italic
	font-family lightBold
	font-size 20px
.quote
	background #212121
	color #fff
	padding-bottom 25px
.quote__text
	color #fff
	margin 28px auto 45px auto
	line-height 38px
