.top-bg
	background url('../img/general/banner.jpg') 0 0 no-repeat
	background-size cover
	padding 0
	.container
		min-height 920px
	
.top-banner__info
	position absolute
	right 0
	top 35%
	text-align right
	z-index 10
	width 100%
	max-width 570px
	
.top-banner__title
	display block
	font-size: 72px
	font-weight: 900
	font-family boldFont
	position relative
	padding-bottom 75px
	text-transform uppercase
	&:after
		content ''
		background-color #000
		display block
		height 4px
		position absolute
		right 0
		bottom 30px
		width 130px
.top-banner__text
	color: mainColor
	font-size: 18px
	font-weight: 400
	font-family mainFont
	line-height: 34px
	margin-bottom 60px