.quote_autor
	font-weight normal
	font-style italic
	font-family lightBold
	font-size 20px
.quote
	background #212121
	color #fff
	padding-bottom 25px
.quote__text
	color #fff
	margin 28px auto 45px auto
	line-height 38px
	
.twitter
	background #fff
	color mainColor
	text-align center
	padding 90px 0
	img
		display block
		margin auto
	.avatar
		padding 44px 0
	.quote_autor
		font-style normal
		
	
.tw_icon
	width 27px
	height 22px
