.why-content
	text-align center
.why-content__title
	margin 30px 0 60px 0
	font-size: 27px
	font-family boldFont	
.why-content__text
	color: mainColor
	font-family: mainFont
	font-size: 16px
	line-height: 33px
	width 80%
	margin auto
