
@import url(reset.css);

@font-face {
    font-family:OpenSans;
    src: url(../fonts/opensans.ttf);
}

body{
    font: 13px 'opensans', sans-serif;
}
.wrapper{
    width: 1060px;
    height: 950px;
    margin: 0 auto;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}
.logo{
    padding-top: 50px;
    padding-left: 46px;
}

header .menu{
    margin-top: 40px;
    margin-left: 46px;
    width: 966px;
    background: #565555;
}
 header .menu ul li {
    display: inline-block;
}
.menu ul li a{
    padding: 10px 0 10px 0;
    display: block;
    color:#fff;
    font: 14px 'opensans', sans-serif;
    text-decoration: none;
}
.menu ul li a:hover{
    background: -webkit-linear-gradient(30deg, rgb(61, 61, 61) 26%, rgb(173, 173, 173) 91%);
}
.menu ul li a:nth-child(1){
    padding-left: 24px;
    padding-right: 72px;
}
nav{
    margin-top: 40px;
    margin-left: 46px;
    width: 240px;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    float: left;
    margin-right: 45px;
}

nav li a{
    padding-left: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
    display: block;
    text-decoration: none;
    color:grey;
}
nav li{
    border-bottom: 1px solid grey;
}
nav .active{
    background: #f6f6f6;
    padding-left: 13px;
}
main{
    margin-top: 40px;
    width: 670px;
    float: left;
}
main .bike{
    text-align: center;
    margin: 0 auto;
}
main .bike img{
    padding: 46px 105px 46px 70px;
    border:1px solid grey;
}
main .bike p{
    margin: 40px 25px 80px 25px;
    text-align: justify;
}
footer{
    clear: both;
    width: 966px;
    background: #e1e1e1;
    margin-left: 45px;
}
footer ul li{
    display: inline-block;
}
footer ul li a{
    display: block;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color:black;
    font: 14px 'opensans', sans-serif;
}
footer ul li a:nth-child(1){
    padding-left: 24px;
    padding-right: 72px;
}
footer ul li a:nth-child(4){
    padding-left: 14px;
    padding-right: 172px;
}
footer ul li:nth-child(4){
    margin-right: 165px;
}
footer ul li a:hover{
    text-decoration: underline;
}
