section.articles
	.container
		p.articles-title Featured Articles
		p.articles-text The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the  
		//- подключаем bx slider
		.articles__slider
			.articles-slider__prev
			.articles-slider__next
			ul.js-articles__slider
				li.articles-item
					p.article-item__title comic
					p.article-item__info A million ways to die in the wild wild wild west
					div(class="aricle-item__block clearfix")
						img(src="static/img/general/article_pic1.png", alt="")
						.article__namedata
							p.article__namedata_name jimmy jefferson
							p.article__namedata_data 21/08/2013
				li.articles-item
					p.article-item__title lifestyle
					p.article-item__info.mb0 The most comfortable chair comes with no backpain
					div(class="aricle-item__block clearfix")
						img(src="static/img/general/article_pic2.png", alt="")
						.article__namedata
							p.article__namedata_name Gail Gutierrez
							p.article__namedata_data 21/08/2013
				li.articles-item
					p.article-item__title travel
					p.article-item__info journey to the center of the earth with jefferson 
					.aricle-item__block.clearfix
						img(src="static/img/general/article_pic3.png", alt="")
						.article__namedata
							p.article__namedata_name mason johnston
							p.article__namedata_data 21/08/2013
				li.articles-item
					p.article-item__title comic
					p.article-item__info A million ways to die in the wild wild wild west
					div(class="aricle-item__block clearfix")
						img(src="static/img/general/article_pic1.png", alt="")
						.article__namedata
							p.article__namedata_name jimmy jefferson
							p.article__namedata_data 21/08/2013
				li.articles-item
					p.article-item__title lifestyle
					p.article-item__info.mb0 The most comfortable chair comes with no backpain
					div(class="aricle-item__block clearfix")
						img(src="static/img/general/article_pic2.png", alt="")
						.article__namedata
							p.article__namedata_name Gail Gutierrez
							p.article__namedata_data 21/08/2013
				li.articles-item
					p.article-item__title travel
					p.article-item__info journey to the center of the earth with jefferson 
					.aricle-item__block.clearfix
						img(src="static/img/general/article_pic3.png", alt="")
						.article__namedata
							p.article__namedata_name mason johnston
							p.article__namedata_data 21/08/2013



			

