section.article-slider
	.container
		.articles-slider_prev
		.articles-slider_next
		.js-articles_slider
			.articles-slider__item
				p.title Another Day In Paradise
				p.text Travel / 21st March, 2014
			.articles-slider__item
				p.title Jimmy’s New Book on Aliens
				p.text Travel / 21st March, 2014
			.articles-slider__item
				p.title Sarah’s New House
				p.text Travel / 21st March, 2014
			.articles-slider__item
				p.title Another Day In Paradise
				p.text Travel / 21st March, 2014
			.articles-slider__item
				p.title Another Day In Paradise
				p.text Travel / 21st March, 2014
	