section.catalog
	.container
		.catalog-line
			.catalog-item.catalog-info
				p.date Travel / 21st March, 2014
				p.title A New Product Is Coming 
				p.text The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never.
			.catalog-item.catalog-img
				img(src="static/img/general/catalog1.jpg", alt="")
		.catalog-line
			.catalog-item.catalog-img
				img(src="static/img/general/catalog2.jpg", alt="")
			.catalog-item.catalog-info
				p.date Travel / 21st March, 2014
				p.title A New Product Is Coming 
				p.text The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never.
		.catalog-line
			.catalog-item.catalog-info
				p.date Travel / 21st March, 2014
				p.title A New Product Is Coming 
				p.text The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never.
			.catalog-item.catalog-img
				img(src="static/img/general/catalog2.jpg", alt="")

		