section.clients
	.container
		p.title Clients
		//- подключаем bx slider
		.clients__slider
			.clients-slider__prev
			.clients-slider__next
			ul.js-clients__slider
				li.clients-item
					img(src="static/img/general/client1.png", alt="")
				li.clients-item
					img(src="static/img/general/client2.png", alt="")
				li.clients-item
					img(src="static/img/general/client3.png", alt="")
				li.clients-item
					img(src="static/img/general/client4.png", alt="")
				li.clients-item
					img(src="static/img/general/client5.png", alt="")
				li.clients-item
					img(src="static/img/general/client6.png", alt="")
				li.clients-item
					img(src="static/img/general/client1.png", alt="")
				li.clients-item
					img(src="static/img/general/client2.png", alt="")
				li.clients-item
					img(src="static/img/general/client3.png", alt="")
				li.clients-item
					img(src="static/img/general/client4.png", alt="")
				li.clients-item
					img(src="static/img/general/client5.png", alt="")
				li.clients-item
					img(src="static/img/general/client6.png", alt="")
					
			

