section.facts
	.container
		.title Facts & Numbers
		.facts-item__wrap
			.facts-item
				span 110
				.facts-item__separat
				p successful projects
			.facts-item
				span 25
				.facts-item__separat
				p awesome clients
			.facts-item
				span 30
				.facts-item__separat
				p open source plugins
			.facts-item
				span 13
				.facts-item__separat
				p open source themes
	
			
			

