section.feature
	.container
		.feature-content
			.feature-content__item
				img(src="static/img/general/clock.png", alt="")
				.feature-item__title An Wow Feature
				.feature-item__text The gentlemen who rented the room would sometimes take their evening meal at home in the living.
			.feature-content__item
				img(src="static/img/general/vector.png", alt="")
				.feature-item__title A Beautiful Feature
				.feature-item__text The gentlemen who rented the room would sometimes take their evening meal at home in the living.
			.feature-content__item
				img(src="static/img/general/land-working.png", alt="")
				.feature-item__title An Amazing Feature
				.feature-item__text The gentlemen who rented the room would sometimes take their evening meal at home in the living.

			
			

