section.portfolio
	p.title Portfolio & Screenshots
	p.text Filer using mixitup The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the 
	ul.portfolio-filter 
		li(data-filter=".art").portfolio-filter__item
			a Art
		li(data-filter=".mystery").portfolio-filter__item
			a Mystery 
		li(data-filter=".illusion").portfolio-filter__item
			a Illusion   
		li(data-filter=".travel").portfolio-filter__item
			a Travel       
		li(data-filter=".paintings").portfolio-filter__item
			a Paintings       
	ul.js-portfolio-slider 
		li.mix.art
			img(src="static/img/general/portfolio1.jpg", alt="")
		li.mix.mystery
			img(src="static/img/general/portfolio2.jpg", alt="")
		li.mix.illusion
			img(src="static/img/general/portfolio3.jpg", alt="")
		li.mix.paintings
			img(src="static/img/general/portfolio4.jpg", alt="")
		li.mix.travel
			img(src="static/img/general/portfolio1.jpg", alt="")
		li.mix.mystery
			img(src="static/img/general/portfolio2.jpg", alt="")
		li.mix.illusion
			img(src="static/img/general/portfolio3.jpg", alt="")
		li.mix.travel
			img(src="static/img/general/portfolio4.jpg", alt="")
		li.mix.art
			img(src="static/img/general/portfolio1.jpg", alt="")
		li.mix.mystery
			img(src="static/img/general/portfolio2.jpg", alt="")
		li.mix.paintings
			img(src="static/img/general/portfolio4.jpg", alt="")
		li.mix.art
			img(src="static/img/general/portfolio1.jpg", alt="")
		li.mix.art
			img(src="static/img/general/portfolio1.jpg", alt="")
	p.title Filter without mixitup
	ul.filter 
		li(data-filter="art").portfolio-filter__item
			a Art
		li(data-filter="mystery").portfolio-filter__item
			a Mystery 
		li(data-filter="illusion").portfolio-filter__item
			a Illusion   
		li(data-filter="travel").portfolio-filter__item
			a Travel       
		li(data-filter="paintings").portfolio-filter__item
			a Paintings
		li(data-filter="all").portfolio-filter__item
			a.all All  
	.js-filter-slider 
	.filter-slider__content
		div(data-filter='travel')
			img(src="static/img/general/portfolio2.jpg", alt="")
		div(data-filter='travel')
			img(src="static/img/general/portfolio3.jpg", alt="")
		div(data-filter='paintings')
			img(src="static/img/general/portfolio4.jpg", alt="")
		div(data-filter='illusion')
			img(src="static/img/general/portfolio1.jpg", alt="")
		div(data-filter='art')
			img(src="static/img/general/portfolio1.jpg", alt="")
		div(data-filter='travel')
			img(src="static/img/general/portfolio3.jpg", alt="")
		div(data-filter='paintings')
			img(src="static/img/general/portfolio4.jpg", alt="")
		div(data-filter='illusion')
			img(src="static/img/general/portfolio1.jpg", alt="")
		div(data-filter='art')
			img(src="static/img/general/portfolio1.jpg", alt="")
		div(data-filter='travel')
			img(src="static/img/general/portfolio2.jpg", alt="")
		div(data-filter='mystery')
			img(src="static/img/general/portfolio3.jpg", alt="")
		div(data-filter='paintings')
			img(src="static/img/general/portfolio4.jpg", alt="")
		div(data-filter='illusion')
			img(src="static/img/general/portfolio1.jpg", alt="")
		div(data-filter='art')
			img(src="static/img/general/portfolio1.jpg", alt="")
		div(data-filter='travel')
			img(src="static/img/general/portfolio2.jpg", alt="")
		div(data-filter='mystery')
			img(src="static/img/general/portfolio3.jpg", alt="")
		div(data-filter='paintings')
			img(src="static/img/general/portfolio4.jpg", alt="")
		div(data-filter='illusion')
			img(src="static/img/general/portfolio1.jpg", alt="")

    

