section.why.quote
	.container
		.why-content
			img(src="static/img/general/quote.png", alt="icon")
			p.why-content__text.quote__text Happiness cannot be traveled to, owned, earned, or worn. It is the spiritual experience of living every minute with love, grace & gratitude.
			p.why-content__title.quote_autor Denis Waitley
			

