section.feature.team
	.container
		.title Team Members
		.text The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the  
		.feature-content.team-content
			.feature-content__item.team-item
				img(src="static/img/general/team1.png", alt="")
				.feature-item__title James Philly
				.feature-item__text Lead Developer
			.feature-content__item.team-item
				img(src="static/img/general/team2.png", alt="")
				.feature-item__title Cactus Jack
				.feature-item__text 3D Model Designer
			.feature-content__item.team-item
				img(src="static/img/general/team3.png", alt="")
				.feature-item__title Jack Sparrow
				.feature-item__text Master of All Trade
			.feature-content__item.team-item
				img(src="static/img/general/team4.png", alt="")
				.feature-item__title Yaga Squarehead
				.feature-item__text Manages Money


			
			

