section.quote.twitter
	.container
		.why-content
			img(src="static/img/svg/twitter.svg", alt="icon").tw_icon
			img(src="static/img/general/avatar_twitter.png", alt="icon").avatar
			p.text Happiness cannot be traveled to, owned, earned, or worn. It is the spiritual experience of living every minute with love, grace & gratitude.
			p.quote_autor @loveless
			

