/*****VARIABLES*****/
/* font-family: "RobotoLight"; */
/* font-family: "RobotoMedium"; */
/* font-family: "RobotoRegular"; */
/* font-family: "RobotoBold"; */
*::-webkit-input-placeholder {
  color: #00a5ea;
  opacity: 1; }

*:-moz-placeholder {
  color: #00a5ea;
  opacity: 1; }

*::-moz-placeholder {
  color: #00a5ea;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

* {
  box-sizing: border-box; }

body {
  font-family: "RobotoRegular", sans-serif;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  overflow-x: hidden; }

.hidden {
  display: none; }

.parallax {
  background-attachment: fixed;
  background-position: 50% 0;
  position: relative; }

.btn {
  border-radius: 20px;
  display: inline-block;
  background: #00a5ea;
  padding: 10px 25px;
  color: #fff;
  font-size: 17px;
  font-weight: 500; }
  .btn:hover {
    opacity: .78; }

.btn_shadow {
  font-family: "RobotoLight";
  border: 2px solid #f4f8fa;
  border-radius: 32px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), inset 0 0 0 2px white, inset 0 0 9px rgba(237, 237, 237, 0.8);
  display: block;
  color: #b1b2b3;
  text-decoration: none;
  margin: 20px 0 0 0;
  padding: 5px 15px;
  width: 160px; }
  .btn_shadow span {
    display: block;
    border-bottom: 1px dashed #b1b2b3; }
  .btn_shadow p {
    border-bottom: 1px dashed #b1b2b3; }

header {
  color: #fff;
  font-size: 16px; }

.header__top {
  background: #00a5ea;
  height: 60px;
  line-height: 60px;
  font-family: "RobotoLight"; }

.header__menu {
  padding: 23px 0;
  border-bottom: 2px solid #00a5ea; }

.header__top_location,
.header__top_mail {
  line-height: 60px; }

.header__top_location i {
  font-size: 20px; }

.header__top_mail {
  text-align: right; }
  .header__top_mail a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    line-height: 60px;
    float: right; }

.header__top_search form {
  width: 276px;
  position: relative; }

.header__top_search input {
  border-radius: 20px;
  color: #00a5ea;
  display: block;
  padding: 10px;
  line-height: 18px;
  margin-top: 10px;
  margin-left: 37px;
  width: 260px;
  border: 1px solid #e7e7e7;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), inset 0 0 0 2px white, inset 0 0 9px rgba(237, 237, 237, 0.8); }

input[type="submit"] {
  box-shadow: none;
  border: none;
  cursor: pointer;
  background: transparent url(../img/search.svg) center no-repeat;
  width: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -14px; }

.header__top_mail a {
  float: right; }
.header__top_mail span {
  border-bottom: 1px dashed #fff; }

.header__menu_logo {
  font-family: "RobotoMedium";
  padding: 0; }
  .header__menu_logo img {
    display: inline-block; }
  .header__menu_logo p {
    margin: 28px 0 0 20px;
    display: inline-block;
    line-height: 17px;
    color: #b1b2b3;
    font-size: 16px;
    font-weight: 500;
    vertical-align: top; }

.btn_shadow {
  margin: 20px auto; }

ul.header__nav_list {
  text-align: center;
  margin: auto; }

.header__menu_calc img,
.header__menu_price img {
  float: left;
  margin-top: 4px; }
.header__menu_calc p,
.header__menu_price p {
  float: left;
  margin-left: 10px; }

header .space {
  width: 5%; }

.top-line-email {
  color: #fff; }

.header__menu_contact {
  float: right;
  font-family: "RobotoRegular";
  text-align: center; }
  .header__menu_contact span {
    color: #6b808a;
    display: block;
    font-size: 16px;
    font-weight: 300;
    padding: 0;
    padding-bottom: 10px;
    text-align: center; }
  .header__menu_contact .contact__phone {
    color: #00a5ea;
    font-size: 24px;
    font-weight: 500; }

.header__nav {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  padding: 18px 0 10px 0; }
  .header__nav ul {
    text-align: justify; }
    .header__nav ul:after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 0; }
  .header__nav li {
    display: inline-block; }
    .header__nav li a {
      color: #333;
      position: relative;
      -webkit-transition: all 1s;
      transition: all 1s; }
    .header__nav li a:nth-child(2):before,
    .header__nav li a:nth-child(3):before {
      content: '';
      display: none;
      background: url(../img/arrow-down.svg) no-repeat;
      color: #000;
      width: 10px;
      height: 9px;
      position: absolute;
      bottom: -7px;
      right: 41%; }

.main_mnu_button {
  background-color: transparent;
  border: medium none;
  font-size: 26px; }

.main_mnu_button {
  color: #00a5ea;
  padding: 8px 15px 0; }

/******************/
.toggle-mnu {
  text-align: center;
  display: block;
  width: 28px;
  height: 28px;
  margin: auto;
  margin-top: -9px; }

.toggle-mnu span:after, .toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px; }

.toggle-mnu span:after {
  top: 18px; }

.toggle-mnu span {
  position: relative;
  display: block; }

.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #00a5ea;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 2px; }

.toggle-mnu.on span {
  background-color: transparent; }

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(-1px, 0px);
      -ms-transform: rotate(45deg) translate(-1px, 0px);
          transform: rotate(45deg) translate(-1px, 0px); }

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
      -ms-transform: rotate(-45deg) translate(6px, -7px);
          transform: rotate(-45deg) translate(6px, -7px); }

/*********************************/
.header__nav li:hover a:before {
  display: block; }

.pull-left {
  margin: 0 10px 0 0; }

.padding20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.padding10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.padding25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.padding50 {
  padding-top: 50px;
  padding-bottom: 50px; }

.padding30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.font-24 {
  font-size: 24px; }

.margin20 {
  margin: 0 0 20px 0; }

.img-border {
  border: 2px solid #00a5ea;
  border-radius: 100%; }

.img-border-white {
  border: 2px solid #fff;
  border-radius: 100%;
  padding: 4px; }

.breadcrumb {
  margin: 10px 0;
  background: #fff;
  font-size: 14px; }

.breadcrumb a {
  text-decoration: underline;
  color: #788a93; }

.breadcrumb > li + li:before {
  color: #788a93;
  content: "-"; }

.bordergrey {
  min-width: 150px;
  line-height: 1.3;
  border-radius: 100px;
  border: 1px solid #f4f8fa;
  height: 50px;
  padding: 5px 15px;
  cursor: pointer;
  color: #6b808a; }

.bordergrey p {
  text-decoration: underline dotted red; }

.img-ckeckpoint {
  display: inline-block;
  height: 20px;
  padding: 0px 0 0px 25px;
  background: url(../img/ckeckpoint.png) no-repeat; }

.header-top-line {
  min-height: 60px;
  background: #00a5ea;
  color: #fff; }

.header-top-line .col-md-4,
.header-top-line .col-md-5,
.header-top-line .col-md-3 {
  height: 60px; }

.header-search {
  margin: 0 auto;
  width: 260px;
  position: relative; }

.header-top-line .search-input {
  height: 40px;
  width: 260px;
  border-radius: 20px;
  border: none;
  padding: 0 0 0 15px;
  color: #000; }

.img-header-search {
  float: right;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 11px;
  cursor: pointer;
  border-radius: 20px;
  background: #fff; }

::-webkit-input-placeholder {
  color: #00a5ea; }

::-moz-placeholder {
  color: #00a5ea; }

:-moz-placeholder {
  color: #00a5ea; }

:-ms-input-placeholder {
  color: #00a5ea; }

.header-middle {
  min-height: 170px; }

.header-nav {
  height: 62px; }

.header-nav .navbar-default {
  z-index: 999; }

.call-btn {
  color: #fff;
  background: #00a5ea;
  padding: 10px;
  font-size: 16px;
  border-radius: 40px;
  width: 200px;
  border: none;
  outline: none; }

/* ************SLIDER*************** */
.slider {
  background: url("../img/slider.jpg") top center no-repeat;
  background-size: cover;
  padding: 50px 0; }

.carousel__item {
  padding: 25px;
  background: #000;
  opacity: .6;
  width: 45%; }
  .carousel__item h1 {
    color: #fff;
    font-family: "RobotoBold";
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 40px; }

.carousel__item_content .cont_item {
  width: 50%; }
  .carousel__item_content .cont_item img {
    float: left;
    margin-right: 20px; }
  .carousel__item_content .cont_item p {
    color: #fff;
    font-family: "RobotoRegular";
    font-size: 15px;
    font-weight: 400;
    line-height: 22px; }
.carousel__item_content .left {
  float: left; }
.carousel__item_content .right {
  float: right; }

.owl-dots {
  margin-top: 30px;
  text-align: center;
  width: 100%; }
  .owl-dots .owl-dot {
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px; }
    .owl-dots .owl-dot.active {
      background: #00a5ea; }

.describe {
  padding: 43px 0;
  color: #5b6874;
  font-size: 19px; }
  .describe p {
    text-align: justify;
    font-weight: 300;
    line-height: 34px;
    padding-bottom: 40px; }

.h1_title {
  font-family: "RobotoBold";
  font-size: 30px;
  font-weight: 700;
  color: #00a5ea;
  text-align: center;
  text-transform: uppercase; }

.wrap_serv {
  width: 1180px;
  margin: 0 auto; }

.proposition .container-fluid {
  padding: 0; }
.proposition .service__menu {
  list-style-type: none;
  padding-bottom: 30px;
  padding-left: 15px; }
  .proposition .service__menu li {
    display: inline-block;
    margin-right: 10px;
    position: relative; }
  .proposition .service__menu li:first-child:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: -11px;
    width: 7px;
    height: 2px;
    background: #788a93; }
  .proposition .service__menu a {
    color: #788a93;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 300; }
    .proposition .service__menu a:hover, .proposition .service__menu a a.active {
      text-decoration: none; }
  .proposition .service__menu a.active {
    text-decoration: none; }
.proposition .prop__nav {
  text-align: center;
  margin: 45px 0; }
  .proposition .prop__nav li {
    display: inline-block;
    margin-right: 52px; }
    .proposition .prop__nav li:last-child {
      margin-right: 0; }
  .proposition .prop__nav a {
    background: #fff;
    border: 2px solid #f4f8fa;
    border-radius: 20px;
    color: #6b808a;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none; }
    .proposition .prop__nav a:hover, .proposition .prop__nav a .active {
      border: 2px solid #00a5ea;
      background: #fff;
      color: #00a5ea; }

.article_page li:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: -11px;
  width: 7px;
  height: 2px;
  background: #788a93; }
.article_page li:last-child:after {
  display: none; }

.article_page__cont .h1_title {
  text-align: left;
  text-transform: none; }
.article_page__cont .price__list .active a {
  color: #00a5ea; }
.article_page__cont .service__lists ul {
  padding: 0 40px; }
.article_page__cont .service__lists li:before {
  top: 3px; }
.article_page__cont .price__info {
  border-radius: 30px;
  margin: 20px auto;
  text-align: center;
  width: 282px;
  height: 52px;
  background-color: white;
  border: 2px solid #f4f8fa;
  padding: 13px 0 0 22px; }
  .article_page__cont .price__info a {
    color: #6b808a;
    font-size: 16px;
    font-weight: 400;
    font-family: "RobotoRegular";
    line-height: 16px;
    border-bottom: 1px dashed #6b808a;
    position: relative; }
    .article_page__cont .price__info a:before {
      content: '';
      display: block;
      background: url("../img/icon-price.png") no-repeat;
      left: -30px;
      position: absolute;
      width: 22px;
      height: 26px; }

.imgs__wrap_left {
  margin: 20px 0; }

.article__page_imgs .imgs__wrap_right {
  margin-left: 20px; }

.article__page_imgs .videoWrapper {
  margin-right: 20px; }

.article__page_imgs > div {
  padding: 0; }

#tabs-2, #tabs-3 {
  display: none; }

.wrap {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto; }

.bb {
  border-bottom: 2px solid #00a5ea; }

.catalog__item {
  margin-bottom: 30px; }
  .catalog__item .cat__link {
    width: 100%;
    height: 100%; }
  .catalog__item .catalog__wrap {
    background-color: #fff;
    box-shadow: 0 10px 20px #e2e2e2;
    margin-right: 10px;
    text-align: center;
    -webkit-transition: all .5s;
            transition: all .5s; }
    .catalog__item .catalog__wrap:hover {
      box-shadow: 0 5px 20px #9d8d8d; }
  .catalog__item img {
    width: 100%; }
  .catalog__item .catalog__title {
    padding: 32px 0 30px 0;
    color: #333;
    display: block;
    height: 100px;
    font-family: "RobotoMedium";
    font-size: 20px;
    font-weight: 500;
    text-align: center; }
  .catalog__item .cat__btn {
    margin-bottom: 25px;
    border: 2px solid transparent; }
    .catalog__item .cat__btn:hover, .catalog__item .cat__btn:focus {
      background: #fff;
      color: #00a5ea;
      border: 2px solid #00a5ea; }

.catalog__advantage {
  background: #00a5ea;
  padding: 40px 0;
  color: #fff;
  font-size: 19px;
  font-weight: 500;
  font-family: "RobotoMedium"; }

.adv__item {
  text-align: center; }
  .adv__item img {
    width: 52px;
    height: 52px;
    text-align: center;
    margin-bottom: 30px; }
  .adv__item p {
    width: 90%;
    margin: 0 auto;
    line-height: 1.2; }

.briefs {
  padding: 0 20px 30px 20px; }
  .briefs h3 {
    margin-bottom: 30px; }
  .briefs .brief1 {
    float: left; }
  .briefs .brief2 {
    float: right; }

.service__lists {
  text-align: center;
  padding: 48px 0; }
  .service__lists h2 {
    color: #00a5ea;
    font-family: "RobotoMedium";
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 20px; }
  .service__lists ul {
    text-align: left;
    padding: 0 15%; }
  .service__lists li {
    margin-bottom: 13px;
    position: relative; }
    .service__lists li:before {
      display: block;
      content: '';
      background: url(../img/icon-arrow-right.png) no-repeat;
      left: -12px;
      top: 7px;
      position: absolute;
      width: 6px;
      height: 10px; }
  .service__lists a {
    color: #333; }
  .service__lists a:hover {
    color: #00a5ea; }

.mt30 {
  margin-top: 30px; }

.materials h1 {
  text-align: left;
  text-transform: none;
  padding-left: 15px; }
.materials p {
  color: #333;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px; }
.materials .materials__content {
  display: block;
  height: 100%;
  width: 100%; }
  .materials .materials__content p {
    font-family: "RobotoMedium";
    text-align: center;
    padding: 10px 20%; }
.materials .price__info {
  border-radius: 30px;
  margin: 20px auto;
  text-align: center;
  width: 282px;
  height: 52px;
  background-color: white;
  border: 2px solid #f4f8fa;
  padding: 13px 0 0 22px; }
  .materials .price__info a {
    color: #6b808a;
    font-size: 16px;
    font-weight: 400;
    font-family: "RobotoRegular";
    line-height: 16px;
    border-bottom: 1px dashed #6b808a;
    position: relative; }
    .materials .price__info a:before {
      content: '';
      display: block;
      background: url("../img/icon-price.png") no-repeat;
      left: -30px;
      position: absolute;
      width: 22px;
      height: 26px; }
.materials .price__list a {
  display: inline-block; }

.material__list {
  color: #333; }
  .material__list .service__lists {
    padding: 20px 0; }
    .material__list .service__lists h4 {
      font-family: "RobotoBold"; }
    .material__list .service__lists ul {
      padding: 0 15px; }
  .material__list .mat__content h3 {
    font-family: "RobotoBold";
    font-size: 20px;
    font-weight: 700; }
  .material__list .mat__content h4 {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin: 12px 0 25px 0;
    margin-bottom: 0; }
  .material__list .mat__content p {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px; }
  .material__list .mat__content .mat__btn .mat__price {
    float: left;
    color: #00a5ea;
    font-size: 16px; }
    .material__list .mat__content .mat__btn .mat__price span {
      font-size: 20px; }
  .material__list .mat__content .mat__btn .btn {
    float: right;
    margin: 10px 0 !important; }
  .material__list .mat__content .mat__btn .mat__size {
    float: left; }
    .material__list .mat__content .mat__btn .mat__size span {
      font-family: "RobotoBold";
      font-size: 16px;
      font-weight: 500;
      line-height: 22px; }
  .material__list .mat__content .mat__btn .mat__pr {
    float: right;
    color: #00a5ea; }
    .material__list .mat__content .mat__btn .mat__pr span {
      color: #333;
      font-family: "RobotoBold"; }

.fotorama__thumb {
  background-color: #fff; }

.fotorama__thumb-border {
  border: none;
  background: none;
  opacity: .9; }

.mat__page_btn p.mat__price {
  color: #333 !important;
  font-family: "RobotoBold"; }
.mat__page_btn .btn {
  margin: 10px 0 !important; }

.price h1 {
  text-align: left;
  text-transform: none; }
.price h2 {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  padding: 35px 0 25px 0; }
.price table {
  width: 100%; }
  .price table tr {
    display: block;
    text-align: center;
    padding: 20px 0 25px 0; }
    .price table tr td:first-child {
      text-align: left;
      padding: 0; }
    .price table tr th:first-child {
      width: 70%;
      text-align: center; }
    .price table tr th:nth-child(2) {
      width: 15%;
      text-align: center; }
    .price table tr th:last-child {
      width: 15%;
      text-align: center; }
  .price table .table__title {
    background: #00a5ea;
    color: #fff; }
  .price table .tr_title {
    padding: 25px 0; }

.aside {
  background-color: #f4f8fa; }

.price__list {
  padding: 0 30px;
  padding-bottom: 40px; }
  .price__list a {
    display: block;
    color: #6b808a;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px dashed #6b808a;
    padding: 12px 0; }
    .price__list a:hover {
      color: #333;
      border-bottom: 1px dashed #333; }
  .price__list .price__list_title a {
    border-bottom: 1px dashed #333;
    color: #333;
    font-size: 20px;
    font-weight: 700; }
  .price__list .separate {
    margin: 20px 0; }
    .price__list .separate a {
      padding: 0;
      border: none;
      background: #00a5ea;
      height: 2px; }
  .price__list .service {
    position: relative; }
    .price__list .service a {
      margin-left: 33px; }
  .price__list .service:before {
    content: '';
    display: block;
    width: 26px;
    height: 26px;
    background: url("../img/icon-calc.png") no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -13px;
    left: 0; }
  .price__list .call:before {
    background: url("../img/call.png") no-repeat; }
  .price__list .email:before {
    background: url("../img/e-mail-b.png") no-repeat; }

.info td {
  background: url("../img/attention.png") 0 25px no-repeat;
  padding: 30px 40px !important; }
.info p {
  color: #333;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 25px; }

td.p0 {
  padding-left: 0; }

.address {
  padding: 30px 0; }
  .address h3 {
    margin-bottom: 30px; }
  .address p {
    line-height: 26px; }
  .address a {
    color: #333; }
  .address .requisites {
    margin: 20px 0; }
  .address li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    padding-left: 35px; }
  .address .print:before {
    content: '';
    display: block;
    width: 26px;
    height: 26px;
    background: url("../img/printer.svg") no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -13px;
    left: 0; }
  .address .download:before {
    background: url("../img/download.svg") no-repeat; }

.contact__form textarea {
  border: 1px solid #00a5ea;
  padding: 30px 0;
  width: 100%;
  height: 260px;
  resize: none;
  margin-bottom: 30px; }
.contact__form p {
  padding: 22px 0 15px 0; }
.contact__form input {
  border: 1px solid #00a5ea;
  color: #333;
  font-weight: 400;
  margin-top: 15px;
  width: 100%;
  padding: 9px 13px; }
.contact__form .right {
  text-align: right; }
.contact__form .btn {
  width: 300px;
  margin: 30px 0;
  text-align: center; }

.article__content {
  text-align: right;
  margin-bottom: 90px; }
  .article__content h3 {
    color: #333;
    font-size: 20px;
    font-weight: 400;
    font-family: "RobotoBold";
    text-align: left; }
  .article__content img {
    margin: 20px 0; }
  .article__content p {
    clear: both;
    color: #333;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 20px;
    text-align: left; }
  .article__content .btn {
    margin: 20px 0; }

video {
  width: 100%; }

.article .sublist, .material__list .sublist, .header__nav .sublist {
  margin-left: 20px;
  display: none; }
  .article .sublist a, .material__list .sublist a, .header__nav .sublist a {
    color: #6b808a;
    border-bottom: 1px dashed #6b808a; }
    .article .sublist a:hover, .material__list .sublist a:hover, .header__nav .sublist a:hover {
      color: #333; }
.article .price__list li:hover .sublist,
.article .header__nav_list li:hover .sublist, .material__list .price__list li:hover .sublist,
.material__list .header__nav_list li:hover .sublist, .header__nav .price__list li:hover .sublist,
.header__nav .header__nav_list li:hover .sublist {
  display: block; }
.article .pagination, .material__list .pagination, .header__nav .pagination {
  border: none; }
  .article .pagination a, .material__list .pagination a, .header__nav .pagination a {
    padding: 2px 6px; }
  .article .pagination a:hover, .material__list .pagination a:hover, .header__nav .pagination a:hover {
    background: #00a5ea;
    color: #fff;
    border-radius: 100%;
    display: block;
    padding: 2px 6px; }

.bg_blue {
  background: #f4f8fa; }

.header__nav_list li {
  position: relative; }
  .header__nav_list li:after {
    display: none; }

.header__nav_list .sublist {
  width: 420px;
  background: #fff;
  position: absolute;
  top: 100%;
  left: -161%;
  z-index: 30;
  border-bottom: 1px dashed #00a5ea;
  border-left: 1px dashed #00a5ea;
  border-right: 1px dashed #00a5ea; }
  .header__nav_list .sublist li {
    display: block;
    padding: 15px; }

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0; }

.partners .partn__wrap {
  padding: 20px 0; }
  .partners .partn__wrap .pl {
    padding-left: 50px; }
.partners p {
  font-size: 18px;
  font-family: "RobotoLight";
  color: #333333;
  line-height: 1.444; }

.image {
  padding: 100px 0;
  text-align: center;
  text-align: center; }
  .image img {
    width: 70%; }

.sponsors {
  padding-bottom: 50px; }
  .sponsors .h1_title {
    margin-bottom: 50px; }
  .sponsors .sp__slider {
    position: relative; }
  .sponsors .sp__slider .owl-dots {
    display: none; }
  .sponsors .owl-dots {
    display: none !important; }
  .sponsors .owl-prev, .sponsors .owl-next {
    position: absolute;
    width: 20px;
    height: 15px;
    top: 50%;
    margin-top: -8px; }
  .sponsors .owl-prev {
    background: url(../img/arrow-left.svg) no-repeat;
    left: -30px; }
  .sponsors .owl-next {
    background: url(../img/arrow-right.svg) no-repeat;
    right: -30px; }

.service__lists h4 {
  margin-bottom: 15px !important; }

.sponsor__item img:hover {
  opacity: .5; }

ul.requisites a:hover {
  border-bottom: 1px dashed #333; }

.materials__content img:hover {
  background: #00a5ea;
  opacity: .7; }

.btn_shadow {
  border: 1px solid transparent; }

.btn_shadow:hover {
  border: 1px solid #00a5ea; }

.release, .projects {
  padding: 50px 0;
  color: #333;
  font-size: 16px;
  font-weight: 300; }
  .release .release__slider, .release .project__slider, .projects .release__slider, .projects .project__slider {
    box-shadow: 0 10px 20px #e2e2e2;
    position: relative;
    margin-bottom: 15px; }
  .release .h1_title, .projects .h1_title {
    padding-bottom: 50px; }
  .release .release_content,
  .release .project_content, .projects .release_content,
  .projects .project_content {
    padding: 40px; }
  .release p, .projects p {
    font-size: 21px;
    font-weight: 500;
    text-align: center;
    font-family: "RobotoBold";
    padding-bottom: 30px; }
  .release ul, .projects ul {
    list-style-type: none;
    line-height: 23px; }
  .release li, .projects li {
    margin-bottom: 20px;
    line-height: 26px;
    position: relative; }
    .release li:before, .projects li:before {
      display: block;
      content: '';
      background: url(../img/icon-arrow-right.png) no-repeat;
      left: -12px;
      top: 7px;
      position: absolute;
      width: 6px;
      height: 10px; }
  .release span, .projects span {
    font-weight: 600;
    font-family: "RobotoRegular"; }
  .release .btn, .projects .btn {
    text-align: center;
    display: block;
    margin: 30px auto;
    width: 40%; }
  .release .owl-dots, .projects .owl-dots {
    display: none !important; }
  .release .owl-prev, .release .owl-next, .projects .owl-prev, .projects .owl-next {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px; }
  .release .owl-prev, .projects .owl-prev {
    background: url(../img/arrow-left.svg) no-repeat;
    left: -80px; }
  .release .owl-next, .projects .owl-next {
    background: url(../img/arrow-right.svg) no-repeat;
    right: -80px; }

.proj__wrap {
  width: 930px;
  margin: 0 auto; }

.projects_content {
  padding-top: 35px; }

.pagination {
  border: 1px solid #eaeaea;
  background: #fff;
  margin: 20px 0;
  padding: 20px 5px;
  text-align: center; }
  .pagination li {
    float: left;
    margin-right: 10px; }
  .pagination a {
    color: #333;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none; }
  .pagination ul {
    text-align: center; }
  .pagination .pagination__wrap {
    display: inline-block; }

.goals {
  color: #6b808a;
  font-family: "RobotoLight";
  font-size: 16px;
  padding: 0 0 50px 0;
  font-weight: 300; }
  .goals p {
    padding-bottom: 20px;
    line-height: 26px; }
  .goals .h1_title {
    padding-bottom: 50px; }
  .goals span {
    font-family: "RobotoBold";
    font-weight: 700; }

footer {
  font-size: 16px;
  padding: 40px 0;
  color: #fff;
  background: #00a5ea; }

footer p {
  margin: 0 0 10px;
  line-height: 1.5; }

.font-24 {
  font-size: 24px; }

.margin20 {
  margin: 0 0 20px 0; }

.footer-menu ul li {
  margin: 0 0 15px 0; }

footer a {
  color: #fff; }

.recomendation {
  padding: 40px 0; }

.recomendation ul li {
  margin: 0 0 15px 0; }

.font-bold {
  font-weight: bold; }

footer li {
  line-height: 1.5; }

.back-call-img a, .back-call-img span {
  display: inline-block; }
.back-call-img img {
  margin: 0 10px; }

.fancybox-inner {
  height: auto !important; }

.pop_form {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-bottom: 30px; }
  .pop_form h1 {
    text-align: center;
    color: #00a5ea;
    font-size: 30px;
    font-weight: 700;
    font-family: "RobotoBold";
    text-transform: uppercase; }
  .pop_form .btn {
    border-radius: 20px;
    display: inline-block;
    background: #00a5ea;
    padding: 10px 65px;
    margin-bottom: 30px; }
    .pop_form .btn:hover {
      background-color: #a7a9ac;
      color: #fff; }
  .pop_form .sizes {
    float: left;
    text-align: right;
    margin-left: 70px; }
    .pop_form .sizes p span {
      text-align: left; }
    .pop_form .sizes input {
      width: 100px;
      border: 1px solid #00a5ea;
      margin-left: 10px;
      margin-bottom: 10px; }
  .pop_form .materials {
    text-align: left;
    margin-left: 20px;
    font-family: "RobotoBold"; }
    .pop_form .materials li {
      color: #00a5ea;
      line-height: 26px; }
    .pop_form .materials a {
      color: #00a5ea;
      font-family: "RobotoRegular"; }
  .pop_form .result {
    padding: 23px 50px;
    background: #f4f8fa; }
  .pop_form .level {
    text-align: left; }
    .pop_form .level input {
      margin-bottom: 10px; }
  .pop_form .description {
    text-align: left; }
    .pop_form .description h3 {
      color: #333;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px; }
    .pop_form .description p {
      line-height: 26px; }
    .pop_form .description .insolation {
      font-family: "RobotoRegular"; }
      .pop_form .description .insolation p {
        font-size: 18px; }
        .pop_form .description .insolation p span {
          color: #00a5ea; }

.pop_form2 {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-bottom: 30px; }
  .pop_form2 h1 {
    text-align: center;
    color: #00a5ea;
    font-size: 30px;
    font-weight: 700;
    font-family: "RobotoBold";
    text-transform: uppercase; }
  .pop_form2 .btn {
    border-radius: 20px;
    display: inline-block;
    background: #00a5ea;
    padding: 10px 65px;
    margin-bottom: 30px; }
    .pop_form2 .btn:hover {
      background-color: #a7a9ac;
      color: #fff; }
  .pop_form2 .descr {
    background: url("../img/bg_calc.png") no-repeat;
    text-align: left;
    padding: 27px 21px; }
    .pop_form2 .descr p {
      color: #333;
      font-family: "RobotoRegular";
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 15px; }
  .pop_form2 .content {
    float: left;
    margin-left: 70px; }
  .pop_form2 .sizes {
    float: left;
    text-align: right;
    margin-left: 70px; }
    .pop_form2 .sizes p span {
      text-align: left; }
    .pop_form2 .sizes input {
      width: 100px;
      border: 1px solid #00a5ea;
      margin-left: 10px;
      margin-bottom: 10px; }
  .pop_form2 .materials {
    text-align: left;
    margin-left: 20px;
    font-family: "RobotoBold"; }
    .pop_form2 .materials li {
      color: #00a5ea;
      line-height: 26px; }
    .pop_form2 .materials a {
      color: #00a5ea;
      font-family: "RobotoRegular"; }
  .pop_form2 .result {
    padding: 23px 50px;
    background: #f4f8fa; }
  .pop_form2 .level {
    text-align: left; }
    .pop_form2 .level input {
      margin-bottom: 10px; }
  .pop_form2 .description {
    text-align: left; }
    .pop_form2 .description h3 {
      color: #333;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px; }
    .pop_form2 .description p {
      line-height: 26px; }
    .pop_form2 .description .insolation {
      font-family: "RobotoRegular"; }
      .pop_form2 .description .insolation p {
        font-size: 18px; }
        .pop_form2 .description .insolation p span {
          color: #00a5ea; }

.pop_form__phone,
.pop_form__question {
  text-align: center; }

.pop_form__phone input[type="text"],
.pop_form__question input[type="text"] {
  padding: 0 0 0 10px;
  display: block;
  line-height: 24px;
  margin: 0 auto 12px;
  width: 90%;
  border: #00a5ea 1px solid; }

.pop_form__phone .button,
.pop_form__question .button {
  margin: 20px auto;
  border: none;
  background: #00a5ea;
  color: #fff;
  padding: 10px 20px; }

.pop_form__phone h3,
.pop_form__question h3 {
  margin: 10px auto 15px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase; }

.pop_form__question textarea {
  display: block; }

/*# sourceMappingURL=main.css.map */