*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

/*****VARIABLES*****/
/*color of the main text*/
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  box-shadow: #9b1818 0 0 0 1px; }

body input:required:valid,
body textarea:required:valid {
  background-color: white;
  border: 3px solid #67bc5c;
  box-shadow: inset 0 0 21px rgba(0, 0, 0, 0.06); }

/************GENERAL CSS*************/
h1 {
  color: white;
  font-family: "CleanvertisingLight", sans-serif;
  font-size: 61px;
  font-weight: 300;
  line-height: 56px;
  margin: 0; }

h2 {
  color: #003469;
  font-family: "CleanvertisingLight", sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 56px;
  margin-bottom: 50px; }

section {
  padding: 58px 0; }

section.dark h2, section.dark h3, section.dark p {
  color: #fff; }

.button {
  background-color: #9b1818;
  border-radius: 3px;
  border: none;
  font-family: "RobotoBold", sans-serif;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 47px;
  line-height: 47px;
  padding: 0 36px;
  text-transform: uppercase; }

/*	***MY_FONTS - SVG****/
.my {
  font-family: 'myFont';
  font-size: 26px;
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none; }

.my.my_a::before {
  content: 'a'; }

.my.my_b::before {
  content: 'b'; }

.my.my_c::before {
  content: 'c'; }

.my.my_d::before {
  content: 'd'; }

.my.my_e::before {
  content: 'e'; }

.my.my_f::before {
  content: 'f'; }

.my.my_g::before {
  content: 'g'; }

.my.my_h::before {
  content: 'h'; }

.my.my_i::before {
  content: 'i'; }

.my.my_j::before {
  content: 'j'; }

/****END of my SVG****/
body {
  color: #333;
  font-family: "RobotoRegular", sans-serif;
  font-size: 16px;
  line-height: 1;
  min-width: 320px;
  position: relative;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden; }

p {
  margin: 0;
  padding: 0; }

.hidden {
  display: none; }

.carousel img {
  width: 100%;
  height: auto; }

.parallax {
  background-attachment: fixed;
  background-position: 50% 0;
  position: relative; }

/***********HEADER***********/
header {
  background: url("../img/header_bg3.jpg") top center no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 640px; }

.top_line {
  padding: 32px 0 0 0; }

.logo {
  font-family: "RobotoBold", sans-serif;
  font-size: 40px; }

.top_phone {
  text-align: right
  /****TABS****/ }
  .top_phone .wrapper .tab {
    font-family: 'RobotoBold';
    cursor: pointer;
    font-size: 18px;
    line-height: 45px;
    text-transform: uppercase; }
  .top_phone .wrapper .active {
    text-decoration: underline; }
  .top_phone .tab {
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }
  .top_phone .tab_item {
    display: none;
    font-size: 32px;
    font-weight: 700; }
    .top_phone .tab_item:first-child {
      display: block; }

.top_content {
  margin-top: 70px; }
  .top_content h1 {
    font-weight: bold; }
  .top_content h2 {
    margin: 20px 0 0;
    font-size: 40px;
    color: #fff; }

.tabs_header {
  margin: 30px 0; }
  .tabs_header .wrapper .active {
    text-decoration: underline; }
  .tabs_header .tab_item {
    display: none;
    font-size: 32px;
    font-weight: 700; }
    .tabs_header .tab_item:first-child {
      display: block; }
  .tabs_header .tabs {
    font-size: 0;
    margin-bottom: 3px; }
  .tabs_header .tab {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    display: inline-block;
    font-family: "RobotoBold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 22px 26px 16px 26px;
    text-transform: uppercase;
    -webkit-transition: all 1s;
            transition: all 1s; }
  .tabs_header .wrapper .active {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    text-decoration: none; }
  .tabs_header .tab_content {
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    /*height: 204px;*/
    font-family: "RobotoBold", sans-serif;
    padding: 30px 30px 15px 34px; }
  .tabs_header .tab_item {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right; }
  .tabs_header ul, .tabs_header li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left; }
  .tabs_header li {
    padding: 0 0 0 37px;
    position: relative;
    line-height: 35px; }
    .tabs_header li:first-child {
      line-height: 21px; }
  .tabs_header i {
    color: rgba(0, 0, 0, 0.8);
    left: 0;
    position: absolute; }

/****CATEGORIES****/
.categories {
  background-color: #003469;
  background-image: -webkit-linear-gradient(bottom, #e8eff7 0%, #c6d8ee 100%);
  background-image: linear-gradient(to top, #e8eff7 0%, #c6d8ee 100%);
  color: #003469;
  font-family: "CleanvertisingLight", sans-serif;
  text-transform: uppercase;
  padding: 40px 0; }
  .categories span {
    font-size: 14px; }
  .categories p {
    font-size: 23px; }
  .categories .zehn {
    font-size: 73px;
    font-family: "RobotoRegular", sans-serif; }
  .categories .cat_img {
    margin-right: 1%; }
    .categories .cat_img i {
      font-size: 70px;
      color: #000; }
    .categories .cat_img .my_j {
      color: #003469; }
  .categories .cat_img, .categories .cat_descr {
    display: inline-block;
    vertical-align: middle; }
  .categories .row > div {
    margin-bottom: 25px; }

/****PROFI****/
.profi h2 {
  text-align: center;
  margin-top: 0; }
.profi strong {
  font-family: "RobotoBold", sans-serif; }
.profi h3 {
  color: #9b1818;
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 10px 0; }
.profi p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }
.profi form {
  background-color: #f7f7f7;
  border: 5px solid #67bc5c;
  border-radius: 5px;
  padding: 35px 30px;
  text-align: center;
  margin-top: 5px; }
  .profi form h3 {
    color: #444;
    font-family: "RobotoBold", sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase; }
  .profi form label {
    text-align: left;
    color: #666;
    font-size: 14px;
    font-family: "RobotoRegular", sans-serif;
    font-weight: 400; }
    .profi form label input, .profi form label select {
      background-color: white;
      border: 1px solid #d9d9d9;
      box-shadow: inset 0 0 21px rgba(0, 0, 0, 0.06);
      height: 45px;
      line-height: 45px;
      outline: none;
      text-indent: 15px;
      width: 100%; }
      .profi form label input:focus, .profi form label select:focus {
        box-shadow: inset 0 0 21px #c0c0c0
        /*box-shadow:$green_color 0 0 0 3px ;*/ }
    .profi form label p {
      padding: 12px 0; }
  .profi form .button {
    background-color: #67bc5c;
    margin-top: 25px; }

.profi_item {
  margin-bottom: 25px; }

.profi_icon i {
  color: #9b1818;
  font-size: 100px;
  margin-top: -12%; }

/****FEEDBACK - PARALLAX****/
.feedback {
  background: url("../img/middle_bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /*fixed position during scroll*/
  color: #fff;
  min-height: 500px;
  text-align: center; }
  .feedback h2, .feedback h3, .feedback p {
    color: #fff;
    margin: 0; }
  .feedback h4 {
    font-family: "Times New Roman", sans-serif;
    font-size: 22px;
    font-style: italic;
    margin: 0; }
  .feedback .descr {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 auto; }
  .feedback .img_wrap {
    text-align: center; }
    .feedback .img_wrap img {
      border: 7px solid #5c6163;
      border-radius: 50%;
      display: inline-block;
      height: 165px;
      margin: 83px 0 22px;
      width: 165px; }
  .feedback .separate {
    background-color: #cea380;
    height: 1px;
    margin: 23px auto 32px;
    width: 80px; }
  .feedback a.popup:focus {
    outline: none; }
  .feedback .owl-dots {
    margin-top: 30px;
    text-align: center;
    width: 100%; }
    .feedback .owl-dots .owl-dot {
      background-color: #fff;
      border-radius: 50%;
      display: inline-block;
      opacity: 0.5;
      height: 15px;
      margin: 0 5px;
      width: 15px; }
      .feedback .owl-dots .owl-dot.active {
        opacity: .8; }

.owl-nav .owl-prev {
  background: url("../img/arrow_left.png") no-repeat;
  top: 29%;
  left: 5%;
  height: 140px;
  opacity: 0.7;
  position: absolute;
  width: 37px; }
.owl-nav .owl-next {
  top: 29%;
  right: 5%;
  height: 140px;
  background: url("../img/arrow_right.png") no-repeat;
  opacity: 0.7;
  position: absolute;
  width: 37px; }

/*POP_UP*/
.pop_form {
  background-color: #f7f7f7;
  border: 3px solid #f65a5a;
  border-radius: 5px;
  padding: 0 15px 15px 15px;
  text-align: center; }
  .pop_form h3 {
    color: #444;
    font-family: "RobotoBold", sans-serif;
    font-size: 17px;
    text-transform: uppercase; }
  .pop_form label {
    text-align: left;
    color: #666;
    font-size: 14px;
    font-family: "RobotoRegular", sans-serif;
    font-weight: 400; }
    .pop_form label input, .pop_form label select {
      background-color: white;
      border: 1px solid #d9d9d9;
      box-shadow: inset 0 0 21px rgba(0, 0, 0, 0.06);
      height: 35px;
      line-height: 35px;
      outline: none;
      text-indent: 15px;
      width: 100%; }
      .pop_form label input:focus, .pop_form label select:focus {
        box-shadow: inset 0 0 21px #c0c0c0; }
    .pop_form label p {
      padding: 7px 0; }
  .pop_form .button {
    background-color: #f65a5a;
    margin-top: 12px;
    height: 40px;
    line-height: 40px; }

/*# sourceMappingURL=main.css.map */