/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.cat_wrap {
		text-align: center;
	}

	.categories .cat_img, .categories .cat_descr {
		display: block;
		vertical-align: middle;
	}

	.cat_descr {
		margin-top: 10px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.cat_img, .cat_descr {
		display: block;
	}

	.profi form {
		margin: 0 auto;
		padding: 15px 30px;
		width: 50%;
		label p {
			padding: 2px 0;
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.logo, .top_phone {
		text-align: center;
	}

	.logo {
		margin-bottom: 15px;
	}

	.top_content {
		text-align: center;
	}

	.categories .cat_img, .categories .cat_descr {
		display: inline-block;
		vertical-align: middle;
	}

	.cat_wrap {
		text-align: left;
		padding-left: 10%;
	}

	.profi {
		text-align: center;
	}

	.profi_item {
		padding: 2% 0;
	}


}

@media only screen and (max-width : 600px) {
	.tabs_header .tab {
		width: 100%;
		text-align: center;

		a.button {
			margin: 15px 0;
		}
	}

	.tabs_header .tab_item {
		text-align: center;
	}
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top_phone .tab_item {
		font-size: 29px;
	}

	.top_content {
		margin-top: 41px;
		text-align: center;
		h1{
			font-size: 49px;
		}
	}

	.profi form {
		width: 85%;
	}

	
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}





/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

@media (min-height: 780px) and (min-width: 1400px) {
	
}