doctype html
html
	head
		link(rel="stylesheet", href="css/reset.css")
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="css/media.css")
		meta(charset="utf-8")
	body
	//- html5 tags are forbidden!
	.email-container
		.email-header
			.email-wrap
				a.email-logo(href="index.html").
					DeinLogo
					
				.email-social-wrap.clearfix
					//- во всех клиентах по умолчанию target_blanc
					a(href="#")
						img(src="img/soc_fb.png", alt="fb")
					a(href="#")
						img(src="img/soc_twitter.png", alt="twitter")
					a(href="#")
						img(src="img/soc_vk.png", alt="vk")
				.email-header-top.
					das allerbeste Angebot von allem, was Sie je erhalten haben
				a.email-btn.
					mehr
		.email-content
			.email-advantage-wrap
				.email-advantage-item
						.email-item-img
							img(src="img/icon_1.png", alt="1st icon")
						p.
							Wir haben Fuße
				.email-advantage-item
					.email-item-img
						img(src="img/icon_2.png", alt="2st icon")
					p.
						...und die <br> Papierflugzeuge
				.email-advantage-item
					.email-item-img
						img(src="img/icon_3.png", alt="3st icon")
					p.
						darüber hinaus <br>haben wir einen Koffer
			p.email-text.
				Bestellen Sie jetzt - erhalten Sie einen Rabatt
			.email-products-wrap
				-for(var x = 1; x <=4; x++)
					.email-products-item
						img(src="img/" + x + ".jpg", alt="first_product")
						p 200 euro.
						a.email-btn.
							bestellen
		.email-footer.
			Ltd. "Das beste Angebot" <a href="#">Unsubscribe</a>




