footer
	.footer
		.footer-top
			.footer-top__left
				.logo.footer-logo
					span Unicorn
				p.footer-text One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his
				form.footer-form
					.footer-form__line
						input(type="text" name="email" placeholder="EMAIL").footer-form__input
						input(type="text" name="subject" placeholder="SUBJECT").footer-form__input
					.footer-form__line
						textarea.footer-form__text(name="message" resize='none' placeholder='MESSAGE')
					.footer-form__submit
						input(type="submit" value="send")
			.footer-top__right
				.footer-top__menu
					span.footer-nav__title links
					a.footer-nav__link(href="#") Home
					a.footer-nav__link(href="#") About
					a.footer-nav__link(href="#") Services
					a.footer-nav__link(href="#") Menu
					a.footer-nav__link(href="#") Restaurants
					a.footer-nav__link(href="#") Work Hours
					a.footer-nav__link(href="#") Call Hours
				.footer-top__menu
					span.footer-nav__title friends
					a.footer-nav__link(href="#") Home
					a.footer-nav__link(href="#") About
					a.footer-nav__link(href="#") Services
					a.footer-nav__link(href="#") Menu
					a.footer-nav__link(href="#") Restaurants
				.footer-top__menu
					span.footer-nav__title social
					a.footer-nav__link(href="#") Facebook
					a.footer-nav__link(href="#") Twitter
					a.footer-nav__link(href="#") Github
					a.footer-nav__link(href="#") Pinterest
					a.footer-nav__link(href="#") Google Plus
					a.footer-nav__link(href="#") Dribbble
					a.footer-nav__link(href="#") Flickr
					a.footer-nav__link(href="#") Others
		
		.footer-bottom
			.footer-disclaimer
				span One morning, when Gregor Samsa woke from troubled dreams, he found 
				span &copy; 2015 Your Awesome Company 
			.footer-menu
				a(href="#") TERMS          
				a(href="#") Privacy Policy  
				a(href="#") Contact          
				a(href="#") job

