header
	.header
		.logo.header-logo
			span Unicorn
		nav.header-nav
			ul.header-nav__list
				li
					a(href="#") home
				li
					a(href="#") about
				li
					a(href="#") stories
				li
					a(href="#") hello
			.header-nav__tooggle
				//- a
				//- 	img(src="../static/img/general/menu.png", alt="")
				span.nav-toggle__line.toggle-line__top
				span.nav-toggle__line.toggle-line__middle
				span.nav-toggle__line.toggle-line__bottom

