
/*****VARIABLES*****/

$red_border:#d61a2c; 
$blue_border:#008cce;
$blue:#008fcf;


*::-webkit-input-placeholder {
	color: $blue;
	opacity: 1;
}
*:-moz-placeholder {
	color: $blue;
	opacity: 1;
}
*::-moz-placeholder {
	color: $blue;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: $blue;
	opacity: 1;
}



body input:focus:required:invalid,
body textarea:focus:required:invalid {
	box-shadow: red 0 0 0 1px;
}

body input:required:valid,
body textarea:required:valid {
	background-color: white;
	border: 3px solid green;
	box-shadow: inset 0 0 21px rgba(0, 0, 0, 0.06);
	
}

/************GENERAL CSS*************/
/****!!footer to the bottom of the window!!!****/
html,
body {
	height: 100%;
}

.main_wrap {
	width: 100%;
	display: table;
	height: 100%;
}

/*footer{
	display: table-row;
	height: 100%;
	}*/

	body {
		color:#fff;
		font-family: 'RainTungstenMedium', sans-serif;
		line-height: 1;
		min-width: 320px;
		position: relative;
		overflow-x: hidden;
	}

	.wrap {
		max-width: 1170px;
		width: 100%;
		margin: 0 auto;

	}


	h1 {
		color: $blue;
		font-family: 'RainTungstenMedium', sans-serif;
		font-size: 72px;
		font-weight: 500;
		margin: 0;
	}

	h2 {
		color: $blue;
		font-size: 60px;
		font-weight: 500;
		line-height: 18px;
	}

	p {
		margin: 0;
		padding: 0;
	}

	.hidden {
		display: none;
	}

	.p_null {
		padding: 0;
	}

	/***********HEADER***********/
	.headertop__wrap {
		position: relative;
		z-index: 10;
		top: 0;
		right: 0;
		left: 0;
		background: url(../img/header_top_bg.png) no-repeat;
		background-size: cover;
		min-height: 201px;
		text-align: center;
		margin: 0 auto;
	}

	.headertop__logo,
	.headertop__menu,
	.headertop__btn {
		float: left;
	}

	.headertop__socials {
		float: right;
	}

	.headertop__menu {
		display: inline-block;
		list-style: none;
		font-size: 0;
		text-align: center;
		margin: 0 1% 0 -5%;
		padding: 63px 0 0 2%;
		width: 45%;
	}

	.headertop__menu li {
		font-family: 'RainTungstenMedium', sans-serif;
		display: inline-block;
		margin-right: 14px;
		&:last-child {
			margin-right: 0;
		}
		a {
			font-size: 21px;
			color: rgb(215, 235, 245);
			text-transform: uppercase;
			transition: all .25s;
			line-height: 1.143;
			&:hover {
				color:#fff;
				text-decoration: underline;
			}
		}
	}

	.headertop__btn {
		background: url('../img/btn_bg.png') no-repeat;
		height: 132px;
		font-size: 36px;
		font-weight: 500;
		margin:1px -40px 0 0;
		p{
			padding-left: 27%;
			span {
				font-size: 24px;
			}

		}

		.btn_wrap {
			width: 231px;
			line-height: 22px;
			margin-top: 33px;
		}

		.button {
			color:#fff;
			font-size: 25px;
			text-align: center;
			transition: all .5s;
			cursor: pointer;
			&:hover {
				color:$blue;
			}
		}
	}
	/*sandwich*/
	.main_mnu_button {
		background-color: transparent;
		border: none;
		color: #fff;
		display: none;
		font-size: 26px;
		text-align: center;
		outline: none;
		margin: 0 auto;
	}

	.headertop__socials {
		padding-top: 45px;
		.socials__item {
			color: #fff;
			font-size: 36px;
			vertical-align: middle;
			margin-right: 21px;
			display: inline-block;
		}
	}


	/****VIDEO_CONTENT****/

	.header_videobg {
		position: relative;;
	}

	.hd__content {
		position: absolute;
		left: 50%;
		margin-left: -200px;
		bottom: -144px;
		font-family: 'Open Sans', sans-serif;
		background: url(../img/small.png) no-repeat;
		background-size: cover;
		padding: 28px;
		z-index: 999;
		width: 400px;
		height: 400px;
		p {
			display: inline-block;
			font-size: 50px;
			font-weight: 700;
			width: 100%;
			height: 100%;
			padding: 83px 0;
			line-height: 60px;
			text-align: center;

		}
	}
	/*video_bg*/

	.video__bg > video {
		min-width: 100%; 
		min-height: 100%;
		margin-top: -8%;
		width: auto;
		height: auto; 
		/*background: grey;*/
	}

	video {
		height:auto;
		width:100%;
	}

	/****SECTION****/
	section {
		margin-top: 47px;
	}

	.pad_null {
		padding: 0;
	}

	/*************REASONS****************/

	.reasons {
		font-size: 23px;
		font-family: 'open_sansregular';
		color: #000;
		line-height: 27px;
		margin-top: 120px;
		.reasons__list {
			font-weight: bold;
			li {
				font-weight: normal;
			}
		}
	}

	/*************CAROUSEL****************/
	.owl-nav {

		.owl-prev {
			background: url('../img/arrow_left.png') no-repeat;
			top: 24%;
			left: -9%;
			height: 128px;
			opacity: 0.7;
			position: absolute;
			width: 128px;
		}

		.owl-next {
			top: 24%;
			right: -9%;
			height: 128px;
			background: url('../img/arrow_right.png') no-repeat;
			opacity: 0.7;
			position: absolute;
			width: 128px;
		}
	}

	.service_toggle_hidden {
		padding: 20px 0;
		margin: 20px 0 0 0;
		top:100%;
		left: 0;
		text-align: center;
		width: 100%;
		z-index: 10;
		.descr__item {
			text-align: left;
		}
	}

	.content__bg {
		background: url('../img/content_bg.jpg') no-repeat;
		height: 683px;
	}

	.awards__list {
		font-family: 'RainTungstenMedium';
		font-size: 24px;
		font-weight: 500;
		list-style-type: none;
		margin-left: 14%;
		padding-top: 2%;
		width: 82%;
		span {
			display: inline-block;
			font-size: 72px;
			font-weight: 500;
			vertical-align: top;
			width: 28%;
		}
		p{
			display: inline-block;
			width: 70%;
		}
	}

	.padL {
		padding: 0 0 0 5%;
	} 

	.padR {
		padding: 0 7% 0 2%;
	}

	.awards__item {
		height: 94px;
		border-top: 1px solid #73bdde;
		padding-left: 5%;
		&:last-child {
			border-bottom:1px solid #73bdde;
		}
	}

	.content__info h1{
		span {
			color:#e25460;
		}
	}
	.content__info {
		p {
			font-size: 14px;
			font-family: 'open_sansregular';
			color:#000;
			line-height: 24px;
			&:nth-child(2){
				margin: 20px 0;
			}

		}
	}

	/*	***NEWS*****/
	.news {
		color:#000;
		text-align: left;
		background: url('../img/olympic.png') no-repeat;
		background-size: cover;
		/*min-height: 1000px;*/
		margin-top: 150px;
		h2 {
			text-align: center;
			color:$blue;
			margin-top: 0;
		}

		h3 {
			font-size: 40px;
			margin: 18px 0 33px 0;
		}

		.news__content {
			font-family: 'open_sansregular';
			font-size: 16px;
			font-weight: 400;
			line-height: 30px;
			padding-bottom: 30px;
			border-bottom: 2px solid $red_border;
		}

		.wrap__content {
			border-bottom: 2px solid $blue_border;
		}

		.wrap__feedback {
			font-size: 16px;
			font-family: 'open_sansregular';
			padding: 9px 10px 0 10px; 
		}

		.wrap__feed_date {
			float: left;

		}

		.wrap__feed_comment {
			float: right;
			a {
				color:#000;
				cursor: pointer;
			}
		}

		.feedback__btn {
			color:$blue;
			cursor: pointer;
			font-family: 'RainTungstenMedium';
			font-size: 30px;
			font-weight: 500;
			line-height: 22px;
			text-decoration: underline;
			text-transform: uppercase;
			text-align: left;
			padding: 27px 0 0 10px;
		}
	}

	.news__wrap_gallery {
		text-align: center;
		margin-bottom: 60px;
		margin-top: 22px;
		img {
			width: 100%;
		}
		a {
			display: none;
			&:first-child {
				display:block;
			}
		}
	}

	.news_right {
		float: right;
	}

	.events h4 {
		padding: 20px;
		text-align: left;
		font-size: 20px;
		color:#000;
		margin: 0;
		padding: 0;
	}



	/****FOOTER****/
	footer {
		background: url('../img/footer.png') bottom center no-repeat;
		background-size: cover;
		font-family: 'ExoThin';
		/*height: 85px;*/
		line-height: 85px;
		text-align: left;
		width: 100%;
		.headertop__socials {
			float: left;
			padding: 41px 0 0 20px;
		}
		.footer_nmb, .btn_wrap {
			float: left;
		} 
		.headertop__btn {
			background: url(../img/btn_bg.png) no-repeat;
			height: 132px;
			font-size: 36px;
			font-weight: 500;
			margin: 1px -40px 0 0;
			font-family: 'RainTungstenMedium', sans-serif;
			.btn_wrap {
				text-align: center;
				width: 231px;
				line-height: 22px;
				margin-top: 71px;
			}
		}
		.footer_nmb {
			font-family: 'RainTungstenMedium', sans-serif;
			font-size: 36px;
			padding: 42px 10px 0 0;
			span {
				font-size: 24px;
			}
		}
	}

	.footer_rights {
		float: left;
		padding-top: 40px;
		color: #fff;
		font-family: Exo2.0;
		font-size: 16px;
	}


	/*------------VACANSIES-------------*/
	.vacancy {
		background: url('../img/olympic.png') no-repeat;
		background-size: cover;
		position: relative;
		padding: 0 0 40px 0;
		margin: -37px 0 0 0;
		h2 {
			padding: 2% 0 0 0;
			font-size: 60px;
			font-weight: normal;
			font-family: 'RainTungstenMedium';
			color:$blue;
		}
	}

	.hr {
		position: absolute;
		top: 0;
		font-family: 'open_sansregular';
		color:#fff;
		background: url('../img/vacans_stripe.png') no-repeat;
		height: 157px;
		width: 100%;
	}

	.ava_wrap, .hr_descr {
		display: inline-block;
	}
	.img_wrap {
		padding: 0 0 0 7%;
		position: absolute;
		transform: translate(0, 78%);
	}

	.hr_descr {
		font-size: 15px;
		padding: 0 0 0 23px;
		vertical-align: middle;
		p:last-child {
			display: block;
			font-size: 18px;
		}
	}

	.hr_contacts {
		line-height: 30px;
		color: #fff;
		font-size: 16px;
		position: absolute;
		transform: translate(50%, 50%);
		right: 25%;
		top: 28%;
	}

	/****VACANCY_ITEM****/
	.item__wrap {
		color:#000;
		font-size: 16px;
		font-family: 'open_sansregular';
		line-height: 36px;
		padding-bottom: 18px;
	}
	.item_border {
		border-bottom: 2px solid $blue_border;
	}
	.vacancy__item {
		border-bottom: 2px solid $red_border;
		ul {
			list-style: none;
			font-weight: bold;
			padding-bottom: 42px;
			margin: 0;
		}

		li {
			font-weight: normal;
		}
	}

	.vacancy__item h3,
	.trainers h3,
	.description h3{
		font-family: 'RainTungstenMedium';
		font-size: 40px;
		color:#000;
		margin: 0;
		padding: 0 0 43px 0;
	}

	/*--------------TRAINERS------------------*/
	.trainers {
		background: url('../img/olympic.png') no-repeat;
		background-size: cover;
		font-family: 'RainTungstenMedium';
		padding-bottom: 50px;
		
		h3 {
			font-size: 60px;
			color:$blue;
			text-align: center;
			font-weight: normal;
		}
		h4 {
			color:#000;
			font-size: 40px;
			font-weight: normal;
			text-align: center;
		}
	}

	.train__wrap {
		background-color: $blue;
		position: relative;
		height: 262px;
		margin-bottom: 46px;
		margin-right: 10%;
		img {
			position: absolute;
			top: -10px;
			right: 10px;
			z-index: 1;
		}
		a {
			cursor: pointer;
		}
		.train__stripe {
			background: url(../img/trainer_stripe.png) no-repeat;
			color: #fff;
			font-size: 24px;
			line-height: 64px;
			height: 64px;
			position: absolute;
			text-align: center;
			bottom: 7px;
			right: -20px;
			z-index: 10;
			width: 298px;
		}

	}

	.events h4 {
		padding: 20px 0 0 20px;
		text-align: left;
		color: #000;
		font-size: 25px;
		font-weight: normal;
	}

	/****DESCRIPTION****/

	.description {
		background: url('../img/olympic.png') no-repeat;
		background-size: cover;
		color: #000;
		font-size: 16px;
		font-family: 'open_sansregular';
		text-align: left;
		h3 {
			font-size: 60px;
			color:$blue;
			text-align: center;
			font-weight: normal;
		}
		h4 {
			font-family: 'RainTungstenMedium';
			color:$blue;
			font-size: 40px;
			font-weight: normal;
			text-align: center;
			margin: 0 0 70px 0;
		}

		.train__wrap {
			width: 90%;
		}
		.train__stripe {
			font-size: 15px;
			font-weight: bold;
		}

	}
	.feedback_item {
		margin-bottom: 55px;
	}
	.feedback_wrap {
		line-height: 28px;
		h4 {
			color:#000;
			text-align: left;
			margin:0 0 27px 0;
		}
		border-bottom: 2px solid $blue_border;
	}
	.feedback_wrap_item {
		
		border-bottom: 2px solid #d61a2c;
		padding: 0 0 28px 0;
		h3 {
			color:#000;
		}
	}
	.feedback_photo {
		background: $blue;
		img {
			margin: -10px 0 10px -5px;
		}
	}
	.wrap__feed_date {
		padding-top: 22px;
	}

	.feed_right {
		float: right;
	}



	.train__description {
		background: url('../img/trainer_stripe_bg.png') no-repeat;
		height: 438px;
		margin-top: -3%;
		.descr__list {
			list-style-type: none;
			color:#fff;
			font-size: 24px;
			font-family: 'RainTungstenMedium';
			padding: 22px 0 0 22px;
			width: 80%;
		}
		.descr__item {
			border: 1px solid #73b9db;
			padding: 13px 0 13px 22px;
			transition:all .5s;
			&:before {
				background: url('../img/triangle.png') 0 0 no-repeat;
				content: '';
				display:inline-block;
				height: 14px;
				margin-right: 22px;
				width: 27px;
			}
			&:hover {
				background: #73b9db;
			}
		}
	}

	.trainer_apply {
		form {
			border: 4px solid #0084c0;
			margin-bottom: 50px;
			padding: 28px;
			position: relative;
			img {
				position: absolute;
				top: -8px;
				right: -8px;
				z-index: 20;
			}
			h3 {
				color:$blue;
				font-size: 48px;
				font-weight: normal;
				margin: 0;
				margin-bottom: 34px;
			}
			input, .search, textarea {
				font-size: 16px;
				font-family: 'open_sansregular';
				border: 3px solid #0084c0;
				display: inline-block;
				margin:0 23px 0 0;
				outline: none; 
				padding: 15px 0 15px 15px;
				width: 35%; 
				-webkit-appearance: none;  
			}
			textarea {
				border: 3px solid #0084c0;
				display: block;
				margin:25px 0;
				min-height: 82px;
				width: 90%;
			}
			.search {
				height: 54px;
			}
			input[type="search"] {
				border: none; 
				vertical-align: middle;
				padding: 0;
				width: 68%;
			}
			input[type="submit"] {
				width: 24px; 
				height: 24px; 
				border: none;
				background: url('../img/search_icon.png') no-repeat; 
			}

			.submit {
				background: url('../img/form_btn.png') no-repeat;
				color:#fff;
				cursor: pointer;
				display: block;
				font-family: 'RainTungstenMedium';
				font-size: 27px;
				height: 77px;
				line-height: 77px;
				text-align: center;
				width: 225px;
			}
		}
	}

	/*-------------MAP---------------*/
	#map {
		background: #fff;
		h3 {
			font-size: 60px;
			color:$blue;
			text-align: center;
			font-weight: normal;
			margin:20px 0 40px 0;
		}
	}

	.map_window {
		.flag {
			border: none;
			background: #fff;
			-webkit-box-shadow: 9px 9px 9px -5px rgba(176,160,176,1);
			-moz-box-shadow: 9px 9px 9px -5px rgba(176,160,176,1);
			box-shadow: 9px 9px 9px -5px rgba(176,160,176,1);
			color:#000;
			margin: 25px auto 50px auto;
			position: relative;
			padding: 2px 0 0 20px;
			width: 400px;
			.img_stripe {
				position: absolute;
				top: -8px;
				right: -8px;
				z-index: 20;
			}
			.flag__content_logo,
			.flag__content_address,
			.flag__schedule_item {
				display: inline-block;
			}
			.flag__content {
				position: relative;
				z-index: 2000;
				.close {
					color: #d31727;
					cursor: pointer;
					display: inline-block;
					font-size: 26px;
					position: absolute;
					top: -13px;
					right: 0px;
					z-index: 100;
				}
			}
			.flag__content_address {
				font-size: 20px;
				line-height: 21px;
				margin-left: 22px;

			}

			.flag__schedule {
				line-height: 21px;
				margin: 20px 0;
			}

			.flag__schedule_item {
				margin-right: 43px;
				strong {
					font-size: 16px;
				}
			}
			.flag__name {
				color:$blue;
				font-weight: bold;
			}
			.header__btn_flag {
				text-align: center;
				margin: 0 0 25px 0;
				width: 76%;
			}
			.btn_wrap_flag {
				margin-top: 69px;
			}


		}
		
	}

	/****POP_UP - HIDDEN****/
	.fancybox-inner {
		height: auto !important;
	}
	.hidden {
	}
	.pop_form {
		text-align: center;
		h3 {
			padding-left: 63px;
			text-align: left;
			font-size: 24px;
			color: $blue;
			margin: 0;
		}
		p {
			font-size: 17px;
			padding: 0 0 5px 62px;
			text-align: left;
		}
		input, select {
			border: 2px solid $blue;
			font-size: 17px;
			letter-spacing: 0.9px;
			width: 73%;
			padding: 2% 2%;
			margin: 4%;
			color:#000;
		}
		select {
			color:$blue;
		}
		.help {
			font-weight: 700;
			text-align: center;
			padding: 10px 0 5px 0;
		}

		.button {
			border-radius: 7px;
			background: red;
			color: #fff;
			font-family: 'open_sansregular';
			display: block;
			padding: 9px;
			margin-bottom: 20px;
			margin: 0 auto;
			text-transform: uppercase;
			width: 50%;
		}
		.champion {
			border: 8px solid #d61a2c;
			display: block;
			margin: auto;
			padding: 10px;
			width: 73%;
			p {
				text-align: center;
				padding: 0;
				font-size: 20px;
				font-weight: bold;
				text-transform: uppercase;
			}
			.submit {
				opacity: 0.8;
			}
			select {
				width: 82%;
			}
		}


		.submit {
			background: url('../img/form_btn.png') no-repeat;
			color:#fff;
			cursor: pointer;
			display: block;
			font-family: 'RainTungstenMedium';
			font-size: 23px;
			height: 77px;
			line-height: 77px;
			margin:10px auto;
			text-align: center;
			width: 225px;
		}
	}
