body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  min-width: 320px;
  position: relative;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: #333; }

html {
  font-size: 28px;
  color: #000; }

* {
  box-sizing: border-box; }

.hidden {
  display: none; }

.overflow {
  overflow: hidden; }

section {
  position: relative; }

section {
  padding: 70px 0 80px;
  text-align: center; }

h1 {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase; }

.p0 {
  padding: 0; }

.m0 {
  margin: 0; }

header, footer {
  background: #ebf6e0;
  font-size: 20px;
  font-weight: 700;
  padding: 30px 0; }
  header .col-md-3, footer .col-md-3 {
    padding: 0; }
  header .header-moto, footer .header-moto {
    text-transform: uppercase; }
    header .header-moto span, footer .header-moto span {
      color: #dc000a;
      display: block; }
  header .header-numbers__icons,
  header .header-numbers_num, footer .header-numbers__icons,
  footer .header-numbers_num {
    float: left;
    padding-top: 25px; }
    header .header-numbers__icons p,
    header .header-numbers_num p, footer .header-numbers__icons p,
    footer .header-numbers_num p {
      font-size: 15px;
      margin: 0; }
  header .header-numbers__icons, footer .header-numbers__icons {
    margin-right: 10px; }
    header .header-numbers__icons a, footer .header-numbers__icons a {
      display: inline-block; }
  header .header-mail, footer .header-mail {
    padding-top: 23px; }
    header .header-mail a, footer .header-mail a {
      color: #000; }

.main-content {
  background: url("../img/bg111.png") no-repeat;
  background-size: cover;
  padding: 70px 0 0 30px;
  position: relative; }
  .main-content h1 {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 90px;
    text-transform: uppercase;
    margin: 0; }
    .main-content h1 span {
      color: #f4d300;
      font-size: 3rem;
      font-weight: 700; }
  .main-content .order {
    min-width: 300px;
    max-width: 424px;
    margin-top: 120px;
    padding: 25px 10px 25px 17px;
    width: 100%;
    height: 297px;
    background-color: #e0e0e0;
    background-image: -webkit-linear-gradient(bottom, #f4ac00 0%, #f4e500 100%);
    background-image: linear-gradient(to top, #f4ac00 0%, #f4e500 100%); }
    .main-content .order h2 {
      font-weight: normal;
      margin: 0; }
    .main-content .order input {
      width: 98%;
      display: block;
      margin: 10px 0;
      padding: 5px; }
  .main-content .polis {
    margin-top: 80px; }
    .main-content .polis p {
      color: #fff;
      font-size: 31px; }
      .main-content .polis p span {
        text-transform: uppercase;
        font-weight: 700; }
      .main-content .polis p .polis-osago {
        margin-right: 52px; }
  .main-content .list {
    margin-top: 20px;
    padding-bottom: 120px; }
    .main-content .list .police-pluses li {
      color: #000;
      font-size: 15px;
      margin-bottom: 10px; }
      .main-content .list .police-pluses li span {
        color: red;
        text-transform: uppercase;
        font-weight: 700; }
  .main-content .gdun {
    max-width: 470px;
    width: 100%;
    position: absolute;
    right: 30px;
    bottom: 0; }

.reasons h1 {
  font-size: 25px;
  color: #ce0009;
  text-transform: uppercase;
  font-weight: 700; }
  .reasons h1 span {
    color: #16632f; }
.reasons h2 {
  color: #16632f;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase; }
.reasons .reason-block {
  text-align: left;
  background: url("../img/location_icon.png") top left no-repeat;
  padding-left: 92px; }
  .reasons .reason-block p {
    color: #000;
    font-size: 16px; }
.reasons .reason-block__time {
  background: url("../img/time_icon.png") top left no-repeat; }
.reasons .reason-block__best {
  background: url("../img/star_icon.png") top left no-repeat; }
.reasons .reason-block__complete {
  background: url("../img/polise_icon.png") top left no-repeat; }
.reasons .reason-block__copy {
  background: url("../img/pc_icon.png") top left no-repeat; }
.reasons .reason-block__econom {
  background: url("../img/save_icon.png") top left no-repeat; }
.reasons .btn {
  margin: 20px auto;
  max-width: 500px;
  width: 100%; }

.slider {
  background: url("../img/slider_bg.jpg") no-repeat;
  background-size: cover; }
  .slider .slider-block {
    overflow: hidden; }
  .slider h1 {
    color: #fff;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase; }
    .slider h1 span {
      color: #f4d300; }
  .slider .slider-item {
    float: left;
    background: #fff;
    color: #000;
    margin-bottom: 20px;
    padding: 20px;
    margin-right: 20px;
    margin-top: 90px;
    margin-bottom: 120px;
    overflow: hidden;
    width: 90%; }
    .slider .slider-item:nth-child(2n) {
      margin-right: 0; }
    .slider .slider-item h3 {
      font-size: 18px;
      font-weight: 700;
      color: #da0505;
      position: relative;
      padding-left: 32px;
      margin-bottom: 0; }
      .slider .slider-item h3:before {
        content: "";
        display: block;
        background: url("../img/slider_sms_icon.png") no-repeat;
        width: 24px;
        height: 24px;
        position: absolute;
        left: 0;
        top: 50%; }
    .slider .slider-item .position {
      margin: 0;
      padding-left: 32px; }
    .slider .slider-item img {
      float: left;
      margin-top: 20px;
      width: 20%; }
  .slider .slider-item__info {
    margin-left: 20px;
    text-align: left;
    width: 70%;
    float: left; }

.calculation {
  overflow: hidden;
  padding-bottom: 0; }
  .calculation h1 {
    color: #16632f; }
    .calculation h1 span {
      color: #ce0009; }
  .calculation .column-left {
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    padding-bottom: 20000px;
    margin-bottom: -20000px; }
  .calculation .column-right {
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-left: 10px;
    padding-bottom: 20000px;
    margin-bottom: -20000px; }
  .calculation h3 {
    color: #16632f;
    font-size: 25px;
    font-weight: 400; }
  .calculation form {
    background-image: -webkit-linear-gradient(bottom, #f4ac00 0%, #f4e500 100%);
    background-image: linear-gradient(to top, #f4ac00 0%, #f4e500 100%);
    padding: 25px;
    text-align: left;
    width: 100%; }
    .calculation form input, .calculation form select {
      height: 48px;
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.5);
      outline: none;
      padding-left: 10px;
      width: 96%; }
    .calculation form select {
      color: #0d35a9;
      font-size: 13px;
      margin-bottom: 20px;
      text-decoration: underline; }
      .calculation form select option {
        text-align: right; }
  .calculation .transport, .calculation .owner, .calculation .driver {
    border-bottom: 3px solid #16632f;
    font-weight: 400;
    text-align: right;
    padding: 10px;
    height: 120px; }
    .calculation .transport p, .calculation .owner p, .calculation .driver p {
      font-size: 13px;
      text-align: left; }
  .calculation .owner, .calculation .driver {
    opacity: 0.4; }
  .calculation .auto_type {
    margin: 40px 0 20px 0;
    position: relative; }
    .calculation .auto_type input {
      margin-bottom: 20px; }
    .calculation .auto_type span {
      display: inline-block;
      font-size: 13px;
      font-weight: 400;
      line-height: 15px;
      text-decoration: underline;
      position: absolute;
      right: 58px;
      bottom: 44px;
      width: 24%; }
  .calculation .address {
    margin-top: 20px; }
    .calculation .address input {
      margin-bottom: 20px; }
    .calculation .address .street {
      display: inline-block;
      margin-right: 10px;
      width: 40%; }
    .calculation .address .house, .calculation .address .part {
      display: inline-block;
      width: 16%;
      margin-right: 10px; }
    .calculation .address .flat {
      display: inline-block;
      width: 12%; }
  .calculation .drivers {
    margin-top: 20px; }
    .calculation .drivers .check {
      overflow: hidden; }
      .calculation .drivers .check h4 {
        margin: 0 20px 0 0;
        float: left; }
      .calculation .drivers .check input[type="checkbox"] {
        height: 18px;
        margin-right: 0;
        width: 21px; }
    .calculation .drivers .age {
      margin: 20px 0; }
      .calculation .drivers .age input {
        width: 45%;
        margin-right: 20px; }
        .calculation .drivers .age input:last-child {
          margin-right: 0; }

.remember {
  padding-top: 0; }
  .remember h3 {
    color: #0c7a3b;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative; }
    .remember h3:before {
      content: "";
      display: block;
      background: url("../img/remember.png") no-repeat;
      height: 31px;
      position: absolute;
      width: 29px;
      left: -40px;
      top: 0; }
  .remember form {
    background-image: -webkit-linear-gradient(bottom, #f4ac00 0%, #f4e500 100%);
    background-image: linear-gradient(to top, #f4ac00 0%, #f4e500 100%);
    padding: 20px;
    text-align: center;
    width: 100%; }
    .remember form h4 {
      margin-top: 0; }
    .remember form input {
      height: 34px;
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.5);
      outline: none;
      padding-left: 10px;
      width: 100%;
      margin-bottom: 15px; }
      .remember form input:last-child {
        margin-bottom: 0; }
    .remember form .phone_wrap {
      overflow: hidden; }
      .remember form .phone_wrap .phone {
        float: left;
        width: 50%;
        margin-right: 20px; }
      .remember form .phone_wrap .time {
        float: left;
        width: 45%; }
  .remember .btn {
    margin: 0 auto;
    width: 185px;
    height: 34px;
    line-height: 34px; }

.map {
  padding-top: 20px; }

footer {
  background: #146932;
  color: #fff; }
  footer .header-mail a {
    color: #fff; }
  footer .copyright {
    text-align: right;
    font-size: 12px; }

.btn {
  background-image: -webkit-linear-gradient(bottom, #185f2d 0%, #185f2d 22%, #048c44 100%);
  background-image: linear-gradient(to top, #185f2d 0%, #185f2d 22%, #048c44 100%);
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 25px;
  font-weight: 400;
  height: 47px;
  line-height: 47px;
  text-transform: uppercase;
  text-align: center;
  max-width: 370px;
  width: 100%; }

/*# sourceMappingURL=main.css.map */