/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	header, footer {
		font-size: 15px;
	}

	.main-content .polis p {
		font-size: 27px;
	}

	.main-content .polis {
		margin-top: 0;
	}
}

@media only screen and (max-width : 1080px) {
	.main-content .polis p {
		font-size: 27px;
	}

	.main-content .polis {
		margin-top: 0;
	}

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	header, footer {
		padding: 20px 50px;
	}
			
	.main-content .gdun {
		max-width: 300px;
	}

	.reasons .reason-block p {
		font-size: 14px;
	}

	.reasons .btn {
		max-width: 445px;
		font-size: 20px;
	}

	.calculation .auto_type span {
		right: -10px;
		bottom: 0;
		width: 100%;
	}
	.calculation h1 {
		font-size: 27px;	
	}
	.calculation h3 {
		font-size: 18px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	header .row,
	footer .row {
		text-align: center;
	}

	html {
		font-size: 20px;
	}    

	.main-content h1 {
		line-height: 57px;
	}

	.main-content .polis {
		margin-top: 20px;
	}	
	.main-content .polis p {
		font-size: 15px;
	}	

	footer .copyright {
		text-align: center;
	}

}

@media only screen and (max-width : 600px) {
	header .col-md-3:first-child,
	header .col-md-3:last-child {
		width: 100%;
	}

	header .img-responsive {
		display: inline;
		text-align: center;
		margin-bottom: 20px;

	}

	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {
	
}


