.niceCheck {
	width: 17px;
	height: 17px;
	display: inline-block;
	cursor: pointer;
	background: url(path-to/checkbox.png);
	overflow: hidden;
}
.niceChecked {
	background-position: 0 -17px;
}
.niceCheck input {
	margin-left: -100px; /* можно задать побольше чтобы наверняка скрыть поле */
}
.niceCheckDisabled {
	background-image: url(path-to/checkbox-disabled.png);
}
