extends ../layout/main

block title
	| Unicorn

block content
	include ../section/top_banner
	include ../section/why
	include ../section/feature
	include ../section/articles
	include ../section/clients
	include ../section/portfolio
	include ../section/quote
	include ../section/team
	include ../section/facts
	include ../section/catalog
	include ../section/article-slider
	include ../section/twitter