@import url(reset.css);

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: "Helvetica Neue";
	 background: url(../img/bg.jpg) no-repeat top center;
	 background-size:cover;
}
.wrapper{
	width: 100%;
	height: 1080px;
	margin: 0 auto;
	position: relative;
}
header{
	background: url(../img/nav.png);
}
.menu_right{
	float: right;
	width: 370px;
	border-left: 1px solid #449cd3;

}
.menu_left{
	float: right;
}

.menu_left li,
.menu_right li{
	float: left;
}
header a{
	text-decoration: none;
	font-size: 14px; 
	color: rgb(96, 181, 237);
	display: block;
	padding: 10px 13px;
} 
.menu_right li:nth-child(1){
	padding-left: 31px;
}
header li:hover{
	background: #449cd3;
	color: #eee; 
	transition: 1s all;
}

header span{
	border-bottom: 1px solid #449cd3;
}
header li{
	position: relative;
}
header .flag a{
	color: #eee;
}
header .flag:before{
	content: url(../img/flag.png);
	position: absolute;
	top: 6px;
	left: 13px;
}

main{
	width: 560px;
	height: 613px;
	background-color: rgba(0, 0, 0, 0.63);
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}

main .top p{
	font-size:24px;
	color: #ffffff;
	text-align: center;
	border-bottom: 3px solid #bac2b5;
	margin-top: 22px;
	padding-bottom: 22px;
}

.facebook {
	position: relative;
	margin: 0 auto;
	width: 275px;
	margin-top: 35px;
	margin-bottom: 35px;
	border-radius: 5px;
	background: -webkit-linear-gradient(to top, #28539B, #193F7B); / для webkit-браузеров /
 background: -moz-linear-gradient(to top, #28539B, #193F7B); / для firefox 3.6+ / 
 background: -o-linear-gradient(to top, #28539B, #193F7B); / для Opera 11.10+ /
 background: -ms-linear-gradient(to top, #28539B, #193F7B); / для IE10+ /
 background: linear-gradient(to bottom, #28539B, #193F7B);
}
.facebook a{
	display: block;
	text-decoration: none;
	color: #eee;
	padding: 10px 65px;

}
.facebook a:hover{
	background-image: -moz-linear-gradient(top, #4169E1 28%, #FFA500 88%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.28, #4169E1), color-stop(0.88, #FFA500));
	color:#000;
	cursor: pointer;
	border-radius: 5px;
	transition: 1s all;
}

.facebook a:before{
	content: url(../img/fb.png);
	position: absolute;
	top: 1px;
	left: 1px;
	border-right: 2px groove #ccc;
 	padding: 5px 15px;
}

.facebook a:after{
	content: url(../img/arrow.png);
	position: absolute;
	top: 10px;
	right: 30px;
}


.OU{
	color: #666;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.OU p:before{
	content: "";
	display: inline-block;
	width: 123px;
	margin: 0 3px 2px 0;
	border-top: 1px solid #777;
	border-bottom: 1px solid black;
}
.OU p:after{
	content: "";
	display: inline-block;
	width: 123px;
	margin: 0 0 3px 2px;
	border-top: 1px solid #777;
	border-bottom: 1px solid black;
}

.form{
	width: 276px;
	margin: 0 auto;
	margin-top: 35px;
	color: #eee;
	font-size: 14px;
}
.form fieldset input {
	width: 100%;
	height: 35px;
	background: black;
	border: 1px solid black;
	margin-bottom: 20px;
	border-bottom: 1px solid #666;
	padding-left: 20px;
	box-sizing: border-box;
}

.form span{
	position: relative;
	top: -2px;
	left: 5px;

}
.form input:focus{
	background: #1b4d7f;
	border:1px solid #689bcd;
	-webkit-box-shadow: 0px 0px 5px 3px rgba(62,109,141,1);
	-moz-box-shadow: 0px 0px 5px 3px rgba(62,109,141,1);
	box-shadow: 0px 0px 5px 3px rgba(62,109,141,1);
	cursor: pointer;
} 

.form input[type="submit"]{
	border: 1px solid transparent;
	width: 150px;
	height: 35px;
	color: #eee;
	font-size: 14px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 61px;
	background: rgba(80,174,219,0.97);
	background-image: -moz-linear-gradient(top, #4ca9d9 41%, #2f7bc5);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.41, #4ca9d9), color-stop(1.0, #2f7bc5));


}

.form input[type="submit"]:hover{
	background-image: -moz-linear-gradient(top, #4169E1 28%, #FFA500 88%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.28, #4169E1), color-stop(0.88, #FFA500));
	color:#000;
	cursor: pointer;

}
.confirm{
	width: 276px;
	color: #a6a59e;
	font-size: 11px;
	text-align: center;
	margin: 0 auto;
	line-height: 16px;
}

.clearfix:after {
     content: '';
     display: table;
     clear: both;
}






