<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>JS_13_14</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="wrapper">
		<script type="text/html" id="test">
			<h1><%= header %></h1>

			<form action="#" method="post">
				<% for (var i = 0; i< questions.length; i++) { %>
					<div>
						<p><%= (i+1) + '. ' + questions[i].title %></p>
						<% for (var j = 0; j < questions[i].answers.length; j++) { %>
							<div>
								<input type="radio" name="<%= questions[i].radio %>"
								id="<%= questions[i].id[j] %>" />
								<label for="<%= questions[i].id[j] %>">
								<%= questions[i].answers[j] %></label>
							</div>
						<% }; %>
					</div>
				<% }; %>
				<button><%= submit %></button>

			</form>
		</script>

  </div>
  <script src="js/jquery-1.12.3.min.js"></script>
  <script src="js/tmpl.js"></script>
  <script src="js/script.js"></script>
</body>
</html>

   