@import url(reset.css);

@font-face{
	font-family: "Lucida-Sans-Unicode";
    src: url('../fonts/Lucida Sans Unicode Regular.ttf');
 }
body{
/*	background: #ffffff;*/
	font-family: "Lucida-Sans-Unicode";
}

.wrapper{
	width: 910px;
	height: 1310px;
	margin: 0 auto;
	background:#fff;
}
header{
	position: relative;
	padding-top: 15px;
}
.numbers{
	color:#5e696d;
	float: left;
	width: 287px;
	font-size: 18px;
	padding-top: 8px;
	margin-left: 32px;
}

.numbers:before{
	content: url(../img/phone.png);
	position: absolute;
	left: 6px;
	top: 21px;
}

.registration{
	width: 496px;
	height: 20px;
	float: left;
	margin-left: -7px;
	position: relative;
	padding-top:3px;
	padding-bottom:3px;
	font-size:10px;
	background-color: #b1bcc0;
	background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
	border-radius: 4px;
	box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);


}
.registration input{
	width: 111px;
	height: 15px;
	background-color: white;
	border: 1px solid #9ba1a3;
	color: #97a2a6;
	font-family: "Lucida Sans Unicode";
	font-size: 11px;
	font-weight: 400;
	padding-left: 2px;
}
.registration input[type="text"]{
	margin-left: 26px;
}
.registration form{
	float: left;
}
.registration form:before{
	content: url(../img/person.png);
	position: absolute;
	top: 6px; 
	left: 7px;
}
.registration ul li{
	float: left;
	font-size: 12px;
  	color: rgb(255, 255, 255);
}

.registration li:nth-child(1){
	padding: 4px 5px 0 8px;

}
.registration li:nth-child(2){
	padding: 4px 0 0 3px;
}
.registration li:nth-child(3){
	padding: 5px 0 0 12px;
}
.registration .border a:after{
	content: "";
	border-right: 1px groove white;
	height: 10px;
	right: 195px;
	top: 10px;
	position: absolute;
}
.registration a{
	color: #eee;
	text-decoration: none;

}
.registration a span{
	font-size: 12px;
	color: rgb(191, 191, 191);
	text-decoration: underline;
}
.sprites{
	margin-top: 2px;
	margin-bottom: 4px;
	margin-left: 18px;
	float: left;
	border-radius: 19px;
	background: #eee;
	width: 73px;
	height: 19px;
	background-color: white;
	border: 1px solid #bdc4c7;

}
.sprites li:nth-child(1){
	display: inline-block;
	padding-left: 7px;
}

.sprites li:nth-child(2){
	display: inline-block;
	padding-left: 3px;
}
.sprites li:nth-child(3){
	display: inline-block;
	padding-left: 4px;
}

figure{
	margin: 8px auto;
	margin-bottom: 4px;
}

nav{
	background-image: linear-gradient(to top, black 0%, #576068 100%);
	border: 1px solid #0d1642;
	border-radius: 5px;
	box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.75);
	width: 908px;
	height: 32px;
}
nav ul li{
	display: inline-block;
	color: #70787b;
	line-height: 32px;
}
nav .menu{
	float: left;
	margin-left: 125px;
	font-size: 13px;
	}
nav .menu li a{
	padding-right: 18px;
	padding-left: 18px;
}

nav .basket{
	float: right;
	font-size: 11px;
	margin-right: 72px;

}
nav li a:hover{
	color: #eee;
	border-radius: 25px;
	background-color: #f60303;
    background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);

}
nav a{
	display: block;
	text-decoration: none;
	color: #70787b;
}
nav .basket li{
	position: relative;
	padding-left: 25px;

}

nav .first_basket:before{
	content: url(../img/basket.png);
	position: absolute;
	top: 5px;
	left: 0;
}
nav .first_basket:after{
	content: "0";
	font-size: 12px;
	font-family: Arial;
	color: #0d5a8f;
	position: absolute;
	top:0;
	left: 78px;
}
nav .second_basket:after{
	content: "0,00грн.";
	font-size: 12px;
	font-family: Arial;
	color: #0d5a8f;
	position: absolute;
	top:0;
	left: 78px;
}
   /*SECTION*/
.auto_searching{
	float: left;
	margin-top: 13px;
	margin-left: 3px;
	box-sizing: border-box;
	font-size:10px;
	padding-left: 18px;
	padding-right: 14px;
	width: 415px;
	height: 134px;
	border: 1px solid #9c9c9d;
	border-radius: 17px;
	box-shadow: 2.6px 4.3px 5px rgba(104, 104, 104, 0.75);
}
section{
	margin-bottom: 14px;
}
section span{
	color: #77858b;
	font-family:"Arial Regular";
	display: block;
}
aside a{
	text-decoration: none;
}
.auto_searching h2{
	color: #154467;
	text-align: center;
	font:12px "Arial Black";
	font-weight: bold;
	margin-bottom: 6px;
	margin-top: -3px;
	margin-left: -15px;

}
.auto_searching .discs{
	width: 180px;
	float: left;
}
.auto_searching .wheels{
	width: 180px;
	float: right;
	margin-right: -2px;
	margin-top: 4px;
}
.auto_searching .discs h2{
	text-align: left;
	font:10px "Arial Black";
	 font-weight: bold;
	 margin-top: -19px;
	 margin-left: 3px;
	 margin-bottom: 10px;	
}
.auto_searching .wheels h2{
	text-align: right;
	font:10px "Arial Black";
	 font-weight: bold;
	 margin-right: 9px;
	 margin-top: -25px;
	 margin-bottom: 10px;
}
.auto_searching .left_column{
	width: 71px;
	float: left;
}

.auto_searching .left_column ul li:first-child{
	margin-bottom: 6px;

}
.auto_searching .left_column ul li:nth-child(2){
	margin-bottom: -8px;
}
.auto_searching .left_column ul li:nth-child(3){
	margin-top: 10px;
}
.auto_searching .left_column ul li:nth-child(4){
	margin-top: 6px;
}

.auto_searching span{
	display: block;
}
.auto_searching ul li span:nth-child(1){
	display: inline-block;
	font-size: 8px;
}

.auto_searching ul li span:nth-child(2){
	font-size: 9px;
	margin-top:-5px;
	margin-bottom: 5px;

}
.auto_searching ul li span:nth-child(3){
	font-size: 9px;
}

.auto_searching .discs .select{
	float: right;
	margin-top: -6px;
	margin-right: 4px;
}
.auto_searching .wheels .select{
	float: right;
	margin-top: -6px;
	margin-right: 2px;
}

.auto_searching select{
	margin-bottom: 6px;	
	width: 101px;
	height: 17px;
	border: none;
	background-color: white;
	box-shadow: inset 0.5px 0.9px 1px rgba(0, 0, 0, 0.75);
}
.auto_searching select:last-child{
	margin-bottom: 5px;
}

.auto_searching .year{
	width: 57px;
	background-color: white;
	box-shadow: inset 0.5px 0.9px 1px rgba(0, 0, 0, 0.75);
}
.wheel_searching{
	float: left;
	margin-top: 11px;
	margin-left: 13px;
	width: 193px;
	height: 134px;
	background-color: white;
	border: 1px solid #9c9c9d;
	border-radius: 21px;
	box-shadow: 2.6px 4.3px 5px rgba(150, 150, 150, 0.75);


}
.wheel_searching h2{
	color: #154467;
	text-align: left;
	font:12px "Arial Black";
	font-weight: bold;
	margin-left: 9px;

}
.wheel_searching span{
	display: inline-block;
	color: black;
	font: 10px "Lucida-Sans-Unicode";
}
.wheel_searching .float_left{
	float: left;
	width: 37px;
	margin-left: 14px;
	text-align: right;
	height: 100%;
	line-height: 21px;
}
.wheel_searching .float_right{
	font: 12px "Lucida-Sans-Unicode";
	height: 85px;
	float: right;
	margin-right: 17px;
	margin-top: 4px;

}
.wheel_searching select{
	line-height: 14px;
	height: 17px;
	border: none;
	background-color: white;
	box-shadow: inset 0.5px 0.9px 1px rgba(0, 0, 0, 0.75);
	font-family: Arial;
	font-size: 11px;
	font-weight: 400;
	line-height: 28px;
}

.wheel_searching .size1{
	width: 52px;
	margin-bottom: 6px;
}
.wheel_searching .size2{
	width: 52px;
}
.wheel_searching .R{
	width: 45px;
}
.wheel_searching .clear{
	padding-top: 9px;
	clear: both;
}
.wheel_searching .checkbox{
	line-height: 13px;
}
.disc_searching{
	float: left;
	margin-top: 11px;
	margin-left: 9px;
	margin-right: 5px;
	box-sizing: border-box;
	font-size:10px;
	padding-left: 14px;
	padding-right: 14px;
	padding-bottom: 9px;
	width: 268px;
	height: 136px;
	background-color: white;
	border: 1px solid #9c9c9d;
	border-radius: 14px;
	box-shadow: 2.6px 4.3px 5px rgba(150, 150, 150, 0.75);
}
.disc_searching h2{
	color: #154467;
	text-align: left;
	font:12px "Arial Black";
	font-weight: bold;
	margin-bottom: 7px;
}

.disc_searching .left_block{
	float: left;
	position: relative;

}

.disc_searching .left_block .left_select{
	margin-left: 6px;
}
.disc_searching .left_block .first_block{
	margin-bottom: 9px;
	/*font:10px  "Lucida Sans Unicode";*/

}
.disc_searching .left_block .second_block{
	margin-bottom: 8px;
}
.disc_searching .left_select .first,
.disc_searching .left_select .third,
.disc_searching .right_block .first{
	width: 57px;
	height: 17px;
	border: none;
	box-shadow: inset 0.5px 0.9px 1px rgba(0, 0, 0, 0.75);
}
.disc_searching .left_select .second{
	width: 51px;
	height: 17px;
	border: none;
	box-shadow: inset 0.5px 0.9px 1px rgba(0, 0, 0, 0.75);
}

.disc_searching .right_block{
	float: right;
	margin-top: -15px;
}
.disc_searching .left_description{
	float: left;
}
.disc_searching .left_select{
	float: left;
}
.disc_searching .left_block span:first-child{
	display: inline-block;
}
.disc_searching .left_block span{
	display: block;
	font-size: 9px;

}
.disc_searching .line{
	float: left;
	width: 1px;
	height: 106px;
	margin-left: 11px;
	margin-top: -16px;
}
.disc_searching .right_block{
	float: right;
	width: 60px;
	margin-right: 17px;
}
.disc_searching .right_block .first_right{
	margin-bottom: 6px;
	font-size: 8px;
}
.disc_searching .right_block .second_right{
	margin-bottom: 8px;
}
.disc_searching .right_block .third_right{
	font-size: 9px;
	margin-bottom: 4px;
}
.disc_searching .right_block .fourth_right{
	margin-bottom: 0;
}
section .disc_searching .clear{
	height: 12px;
}
section .clear{
	clear: both;
	font:14px Arial;
	font-style:italic; 
	color: #154467;
	text-align: right;
	margin-bottom: 6px;	

}
section .auto_searching .clear a{
	padding-right: 6px; 

}
section .wheel_searching .clear a{
	padding-right: 10px; 
	
}
section .disc_searching .clear a{
	padding-right: 10px; 

}
aside{
	font-family:"Lucida-Sans-Unicode";
	overflow: hidden;
	box-sizing: border-box;
}
aside a{
	color: #114165;
}
aside .left_sidebar{
	height: 100%;
	width: 190px;
	float: left;
}
.left_sidebar .catalog,
.right_sidebar .catalog{
	background: url(../img/catalog.png) no-repeat 6px 2px;
	font-size: 12px;
	border-radius: 5px;
	width: 183px;
	height: 27px;
	background-color: white;
	border: 1px solid #79878d;
	box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);

}
.left_sidebar .wheels_discs_bolts,
.right_sidebar .wheels_discs_bolts{
	background: url(../img/circle.png) no-repeat 6px 2px;
	font-size: 12px;
	width: 150px;
	border-radius: 5px;
	border: 1px solid #8c969a;
	margin-top: 13px;
	margin-bottom: 9px;

}
 .catalog a,
.wheels_discs_bolts a{
	display: block;
	text-decoration: none;
	padding: 7px;
	margin-left: 28px;
}
.right_sidebar .wheels_discs_bolts{
	width: 135px;
	margin-left: 12px;
	margin-right: 30px;
}
.right_sidebar .catalog a{
	display: block;
	text-decoration: none;
	padding: 7px;
	margin-left: 31px;
}
.right_sidebar{
	margin-right: 5px;
}
.left_sidebar .catalog_list{
	margin-top: 8px;
	margin-left: 35px;
	color:#465961;
	font-size: 13px;
	line-height: 24px;
	letter-spacing: 1px;
}
.left_sidebar .catalog_list ul{
	list-style-image: url(../img/light_marker.png);
}
.left_sidebar .catalog_list ul li:hover{
	list-style-image: url(../img/hover_marker.png);
	font:14px Arial;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	color:#0c3256;
	transition: 0.5s all;
	line-height: 24px;

}
aside .content{
	float: left;
	width: 526px;
	height: 627px;
	background-color: white;
	background-image: linear-gradient(to top, rgba(35, 75, 93, 0.24) 0%, rgba(201, 207, 209, 0.24) 100%);
	border-radius: 3px;
}
.content .wheel1{
	width: 140px;
	float: left;
	margin-top: 8px;
	margin-left: 22px;
	text-align: center;
	margin-bottom: 27px;
}
.content .wheel_item{
	font:15px "Lucida Sans Unicode";
	color: #206988;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 1px;
	margin-bottom: -5px;
}
.content .wheel_description{
	font-size: 13px;
	color: #1f2528;
	margin-left: 6px;
}
.content .price {
	margin-left: 5px;
}
.content .price p{
	color: #114165;
	font-weight: 700;
	font-style: italic;
	font-family: Arial;
	font:16px;
}
.content span{
	font-size: 12px;
}
.content .wheel2{
	width: 139px;
	margin-left: 29px;
	float: left;
	margin-top: 8px;
	margin-bottom: 27px;
	text-align: center;
}
.content .wheel3{
	width: 141px;
	margin-left: 29px;
	float: left;
	margin-top: 8px;
	margin-bottom: 27px;
	text-align: center;
}
.content .wheel1_2{
	width: 138px;
	float: left;
	margin-left: 22px;
	text-align: center;
	margin-bottom: 27px;
}
.content .wheel2_2{
	width: 139px;
	float: left;
	margin-left: 29px;
	text-align: center;
	margin-bottom: 27px;
}
.content .wheel3_2{
	width: 139px;
	float: left;
	margin-left: 29px;
	text-align: center;
	margin-bottom: 27px;
}
.content .wheel1_3{
	width: 138px;
	float: left;
	margin-left: 22px;
	text-align: center;
	margin-bottom: 27px;
}
.content .wheel2_3{
	width: 139px;
	float: left;
	margin-left: 29px;
	text-align: center;
	margin-bottom: 27px;
}
.content .wheel3_3{
	width: 139px;
	float: left;
	margin-left: 29px;
	text-align: center;
	margin-bottom: 27px;
}


.wheel1_2 .wheel_item,
.wheel2_2 .wheel_item,
.wheel3_2 .wheel_item{
	color: #206988;
	margin-top: -5px;
}
.wheel1_2 .wheel_description,,
.wheel2_2 .wheel_description,
.wheel3_2 .wheel_description{
	color: #1f2528;
}
.wheel1_2 .price,
.wheel2_2 .price,
.wheel3_2 .price{
	color: #114165;
}
.wheel1_3 .wheel_item,
.wheel2_3 .wheel_item,
.wheel3_3 .wheel_item{
	color: #206988;
	margin-top: -3px;
}
.wheel1_3 .wheel_description,,
.wheel2_3 .wheel_description,
.wheel3_3 .wheel_description{
	color: #1f2528;
}
.wheel1_3 .price,
.wheel2_3 .price,
.wheel3_3 .price{
	color: #114165;
	margin-top: 3px;
}
.content .wheel3 .wheel_description{
	letter-spacing: 1px;
}

aside .right_sidebar{
	height: 100%;
	width: 183px;
	float: right;
}
.right_sidebar .catalog_checkbox{
	font:13px;
	color: #465961;
	line-height: 24px;
	margin-left: 23px;
}
.right_sidebar .submit button{
	color: #eee;
	margin-left: 23px;
	border-radius: 15px;
	border:none;
	margin-top: 21px;
	width: 82px;
	height: 26px;
	background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
	border: 1px solid #a7abae;
	border-radius: 10px;
	box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);

}
footer .sponsors{
	width: 100%;
	height: 90px;
	padding-left: 116px;
}
footer .sponsors ul li{
	display: inline-block;
	margin-right: 8px;
}
footer .sponsors ul li a{
	display: block;
	line-height: 117px;
}

footer .main_footer{
	width: 910px;
	height: 101px;
	background-color: #213a4d;
	border: 1px solid #242a3c;
}
footer .footer_nav{
	margin-top: 11px;
	font-size: 12px Arial;
	margin-left: 263px;

}
footer .footer_nav li{
	display: inline-block;
}
footer .footer_nav li:nth-child(1),
footer .footer_nav li:nth-child(2),
footer .footer_nav li:nth-child(3){
	border-right:1px solid #bec6c9;


}
footer .footer_nav li a{
	text-decoration: none;
	color: #bec6c9;
	padding-right: 11px;
	padding-left: 11px;
	margin-top: 10px;

}

footer .footer_nav li a:hover{
	color: #52abcb;
}
footer .copyright{
	width: 154px;
	height: 9px;
	color: #7f4740;
	font:10px Arial;
	margin: 0 auto;
	margin-top: 13px;

	
}
.clearfix:after {
     content: '';
     display: table;
     clear: both;
}


	
	


	