* {
	margin: 0;
	padding: 0;
}

body {
    background: lightskyblue;
    box-sizing: border-box;
	font-family: cursive;
}

.aus__wrap {
    width: 700px;
    margin:0 auto;
    background: lime;
    text-align: center;
    display: table;
    height: 100%;



    h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    li {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    img {
        width: 200px;
        height: 130px;
    }

    .reasons {
        h3 {
            margin-top: 20px;
        }
        li {
            display: block;
            text-align: center;
        }
        ol {
            list-style-type: decimal;
            margin-bottom: 20px;
            padding-left: 40px;
            margin-bottom: 20px;
        }
    }

    .links {
        margin-top: 20px;
        margin-bottom: 20px;
        
    }   
}


