<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Template_11-12-2</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
  <section class="aus">
  	 <script type="text/template" id="page">
        <div class="aus__wrap">
           <h1><%= title %></h1>
           <ul class="gallery">
              <% for (var i = 0; i< pics.src.length; i++) { %>

              <li><img  src="<%= pics.src[i] %>" alt="<%= pics.alt[i] %>"></li>
             
              <% } %>
          </ul>
          <hr>
          <div class="reasons">
              <h3><%= item %></h3>
              <ol>
                  <% for (var i = 0; i < reasons.length; i++) { %>
                  <li><%= reasons[i] %></li>
                  <% } %>
              </ol>
                <hr>
          </div>
        <div class="links">
            <h3><%= linkT %></h3>
            <a href="<%= video %>" target="_blank"><%= video %></a>
            <p><%= addT %></p>
            <a href="<%= addVideo %>"><%= addVideo %></a>
        <hr>
        </div>
        <div class="footer">
            <h1><%= conclusion %></h1>
        </div>
        </div>
     </script>
  </section>
   
  <script src="js/jquery-1.12.3.min.js"></script>
  <script src="js/tmpl.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
  <script src="js/script.js"></script>
</body>
</html>

   