* {
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
	color:red;
}

.content {
	margin-top: 100px;
	text-align: center;
}

.buttons {
	width: 200px;
	margin: 20px auto;

}

.info {
	text-align: center;
}

.info p {
	font-size: 30px;
}

#hours, #minutes, #seconds, #milliseconds {
	font-size: 40px;
}

