
h3 {
	text-align: center;
}

ul {
	list-style: none;
	padding: 5px 0 5px 10px;
}

ol {
	padding-left: 26%;
}

.btn{
	border:2px solid black;
	background: lightblue;
    display: block;
    margin: 0 auto;
	text-align: center;
    width: 218px;
}

button {
	border: none;
	background-color: lightblue;
}

input[type=checkbox] {
    margin-right: 5px;
}
