@media screen and (max-width 700px) 
	.feature-content__item 
		width 30%
		
	section
		padding 50px 20px
	
	.catalog-item 
		float: none
		width: 90%
		margin 20px auto

@media screen and (max-width 600px) 
	.top-banner__title
		font-size 56px
		&:after
			right 50%
			margin-right -65px
		
	.top-banner__text
		font-size 15px
		
	.top-banner__info
		top 15%
		text-align center
		
	.g-btn
		margin auto
		float none
		
	.feature-content
		text-align center
		.feature-content__item 
			width 80%
			text-align center
			margin 20px auto
			
	

@media screen and (max-width 450px) 
	.header
		text-align center
		
	.header-logo
		float none
		
	nav.header-nav
		position absolute
		top 15px
		right 10px
		
	.feature-content
		.feature-content__item 
			width 80%
		
	section
		padding 30px 20px
	
		
		
