mainFont = "SourceSansProRegular", Arial, sans-serif

boldFont = "SourceSansProBold", Arial, sans-serif

lightBold = "SourceSansProLight", Arial, sans-serif

mainColor = #212121
lightColor = #eee

orange = #e64a19

greybg = #efefef