/*
@media screen and (max-width:1201px) and (min-width: 993px) {   
	.container {
		max-width: 970px; 
	}

	.action__content_item-usd:after {
	    top: 42%;
	    right: 2%;
	}

	.exchange__info_inform {
	    float: right;
	    text-align: right;
	    vertical-align: middle;
	}

	.exchange__info_available:after {
	    width: 10%;
	    margin-left: 8%;
	}

	.variants .container {
	    position: relative;
	    max-width: 764px;
	    width: 100%;
	    background: url(../img/scheme50.png) no-repeat;
	   
	}

	.settings .container {
	    padding: 0 8%;
	}

	.footer__link_social {
	    right: -24px;
	}

	.footer__link:after {
	    left: 121%;
	}

	.footer__sublist {
	    top: 140%;
	    left: -26%;
	    width: 115%;
	}
}

@media screen and (min-width: 769px) and (max-width:992px) {     
	
	.container {
		max-width: 769px;
	}

	.service__list_item:nth-child(4n) {
		padding-left: 10%;
	}

	.service__list_item {
	    float: left;
	    margin-top: 10px;
	    width: 31%;
	    text-align: cen
	}

	.service__list {
		padding-left: 12%;
	}

	.action__content {
		font-size: 14px;
	}

	.action__content_item-usd:after {
	    top: 43%;
	    right: 0%;
	}
	.action__result{
		font-size: 14px;
	}

	.exchange__info_available {
	    float: left;
	    width: 49.43%;
	    padding-left: 1.5%;
	}

	.exchange__info_available:after {
	    margin-left: 2%;
	}

	.exchange__info_inform {
	    float: right;
	    text-align: right;
	    width: 50%;
	    vertical-align: middle;
	    padding-right: 1.5%;
	}

	.preposition__contain {
	    width: 31%;
	}

	.preposition__contain_partnership:before,
	.preposition__contain_partnership:after {
		display: none;
	}

	.footer__link:after {
	    left: 114%;
	}

	.footer__link_social {
	    right: -10px;
	}
}

@media screen and (min-width:480px) and (max-width:768px) {  

	

@media screen and (min-width:320px) and (max-width:479px) {    

}
*/