                /****FONTS****/
@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
                    /*****GENERAL*****/

* {
	box-sizing: border-box;
}

body {
	font-family: 'OpenSansExtraBold';
}

.clearfix:after {
 	content:'';
 	clear: both;
 	display: block;
}

.container {
	max-width: 1080px; 
    min-width: 320px;
    margin: 0 auto;
	width: 100%;

}

.wrap {
	background: #fff;
}

                    /*****HEADER*****/

.header {
	height: 68px;
}

.header .container {
	padding: 18px 3.61%;
}

.header__cash {
	float: left;
	width:26%; 
}

.header__cash_link {
	display: inline-block;
    margin-right: 1.3%; 
	vertical-align: middle;
}

.header__nav {
    float: right;
    text-align: right;
    width: 69%;
}

.header__nav img {
    vertical-align: sub;
}

.header__nav_item {
	border: 1px solid #666;
    display: inline-block;
	height: 31px;
	line-height: 26px;
    margin-right: 1.48% ;
	position: relative;
}

.nav__subnav {
    border: 1px solid #666;
    border-top: none;
    display: none;
    font-family: 'OpenSansLight';
    left: -1px;
    list-style-type: square;
    list-style-position: inside;
    position: absolute;
    text-align: left;
    top: 30px;
    width: 102%;
    font-size: 12px;
    background: #fff;
}

.header__nav >li:hover .nav__subnav{
	display: block;
}

.nav__sublink {
    background-color: #fff;
}

.nav__subitem:hover,
.nav__sublink:hover {
    background:  #1469eb;
    color:#fff;
}

.nav__subitem {
	color: #1469eb;
    padding-left: 11%;
}

/*.nav__nav_item>li:hover .nav__sublink {
    background-color: #1469eb;
    color:#fff;
}*/


.header__nav_link,
.nav__sublink {
	color: #666;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding:0 39px 0 15px; /*(3% i 1% right i left)*/
    letter-spacing: 1px;
}

.nav__sublink {
    padding: 0;
}

.header__nav_link:hover {
	color:#1469eb;
	border-color:#1469eb;
}

.header__nav_link:after {
    content: "";
    background: url('../img/arrow_down.png') no-repeat center;
    display: inline-block;
    height: 10px;
    margin-top: -5px;
    position: absolute;
    right: 13px;
    top: 50%;
    width: 12px;
}
			/*SEPARATE*/
.separate .container{
    height: 1px;
    background: url(../img/bottom.png) repeat-x;
	width: 100%;

}

				/****SERVICE****/
.service {
	padding:40px 4% 0 4%;
}

.service__list {
    padding: 0 0 50px 0;
	text-align: justify;
}

.service__list:after {
	content: "";
	display: inline-block;
    height: 0;
	width: 100%;
}

.service__list_item {
	display: inline-block;
	text-align: center;
}

.serive__list_link {
	text-decoration: none;
}

.service__list_title {
    color: #666;
    font-family: 'OpenSansBold';
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 21px;
    width: 98%;
    letter-spacing: 1px;
}

			/****BREADCRUMBS****/
.exchange .container {
    background: url('../img/border_gradient.png') 0 0 no-repeat;
    padding: 0 2% 2% 2%;
}

.exchange__header {
	color: rgb(102, 102, 102);
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	padding: 0 0 44px 0;
    letter-spacing: 1px;
}

.actions {
	border:1px solid #1469eb;
}

.action:last-child {
	border-right: none;
}

.action {
	float: left;
    box-sizing: border-box;
    height: 80px;
    position: relative;
    text-align: center;
    vertical-align: middle;
	width: 33%;
}

.action__give:before,
.action__back:before {
    position: absolute;
    content: "получаете";
    color: rgb(102, 102, 102);
    font-size: 11px;
    font-weight: 700;
    left: 9%;
    text-transform: uppercase;
    top: 13px;
}

.action__give:before {
    content: "отдаете";
}

.action{
	background: url('../img/triangle-right.png') 0 center no-repeat;
}

.action:first-child{
	background: none;
}

.action__content{
    color: rgb(102, 102, 102);
    font-size: 20px;
    font-weight: 700;
	padding:30px 0 22px 4%;
}

.action__content_item {
    color: rgb(102, 102, 102);
    display: inline-block;
    margin-right: 35px;
    text-decoration: none;
	vertical-align: middle;
    font-weight: 400;
}

.action__content_item a {
	display: block;
}


                        /****TABLE_SUBMENU****/

.action__item_submenu-table {
    display: none;
    font-size: 12px;
    font-family: OpenSans;
    position: absolute;
    bottom: -18.7em;
    right: -19.6em;
    border: 1px solid #7da3ef;
    border-top: none;
    z-index: 10;
}

table img {
    vertical-align: sub;
}
.action__content_item:hover .action__item_submenu-table {
    display: block;
}

.action__content_item a {
    width: 150px;
    display: inline-block;
    text-align: left;
    border-bottom: 1px dashed #666;
    border-left: 1px dashed #666;
    padding-left: 15%;
}

tr:last-child .action__content_item a {
    border-bottom: none;
}

tr td:first-child a {
    border-left: none;
}

tr:last-child td a {
    border-bottom: none;
}


.header__nav >li:hover .nav__subnav{
    display: block;
}

.action__subitem {
    padding: 0 0;
}

.action__subitem span {
    display: inline-block;
}

.action__sublink {
    background: #fff;
    color: rgb(32, 32, 32);
    display: inline-block;
    font-size: 12px;
    font-family: 'OpenSansLight';
    font-weight: 400;
    line-height: 50px;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;
}

                     /*****END OF SUBTABLE****/

			/****arrows down****/

.action__content_item-img {
	position: relative;
}

.action__content_item:first-child:after {
	display: none;
}

.action__content_item-img:after,
.action__content_item-usd:after {
    content: url('../img/arrow_action_down.png');
    display: inline-block;
    position: absolute;

}

.action__content_item-img:after {
    top: 16%;
    right: -79%;
}

.action__content_item-usd:after {
    top: 2%;
    right: -59%;
}

.action__content_item:last-child,
.action__content_item:first-child {
	margin-right: 0px;
}

.action__result{
    color: rgb(20, 105, 235);
    display: block;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    left: 50%;
    top: 50%;
    text-decoration: none;
    position: absolute;
    transform: translate(-50%,-50%);
	width: 100%;
    letter-spacing: 1px;

}	

				/****EXCHANGE INFO****/

.exchange__info {
	color: rgb(115, 115, 115);
	font-size: 14px;
	font-weight: 300;
	font-family: 'OpenSansLight';
	padding:21px 0 50px 0;
}

.exchange__info_privat {
	font-weight: bold;
	padding:0 1.8%;
	position: relative;
}

.exchange__info_sum {
	padding:0 1.8%;
}

.exchange__info_available {
	float: left;
    padding-left: 1.5%;
	width: 36.43%;

}

.exchange__info_available img,
.exchange__info_available span {
	vertical-align: middle;
}

.exchange__info_available:after {
    content: url('../img/exchange_info_separate.png');
    display: inline-block;
    margin-left: 10%;
    position: absolute;
    width: 9.26%;
}

.exchange__info_inform {
    float: right;
    padding-right: 1.5%;
    position: relative;
    text-align: right;
    vertical-align: middle;
    width: 37%;
}

.exchange__info_inform:before {
    background: #666;
    content: '';
    left: -54%;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 38%;
}

.action__content_item {
    position: relative;
}

.action__item_submenu-table {
    font-size: 12px;
    font-family: OpenSans;
    position: absolute;
}


.exchange__info_inform img {
	padding:0 1.96% 0 3.75%;
	vertical-align: middle;
}

				/****PROPOSITIONS****/

.proposition{
	padding:44px 0 50px 0;
	text-align: justify;
}

.proposition:after {
	content: "";
	display: inline-block;
    height: 0;
	width: 100%;
}

.proposition__contain {
    display: inline-block;
    text-align: center;
	width: 33%;
}

.proposition__item {
	color: rgb(115, 115, 115);
	display: block;
    font-family: 'OpenSansBold';
    font-size: 18px;
    font-weight: 400;
    padding-left: 6%;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.proposition__item:before {
    content: url('../img/course.png');
    display: inline-block;
    left: 0;
    margin-right: 3%;
    position: relative;
    top: 5px;
}

.proposition__contain_partnership {
	position: relative;
}

.proposition__contain_partnership:before,
.proposition__contain_partnership:after {
    content: '';
    background: #666;
    display: inline-block;
    height: 1px;
    position: absolute;
    top: 60%;
    width: 38%;
}

.proposition__contain_partnership:before {
    left: -15%;
}

.proposition__contain_partnership:after {
    right: -20%;
}

.proposition__item-partnership:before {
	content: url('../img/partnership.png');
}

.proposition__item-bonuse:before {
	content: url('../img/bonuse.png');
}

			/****PREPOSITION****/

.slider__content {
	float: left;
    margin-right: 10%;
    padding: 0 0 20px 2%;
    border-radius: 30px;
	width: 45%;

}

.slider__content {
    background: url("../img/border_gradient_horisontal.png") center top repeat-x,
    url("../img/border_gradient_horisontal.png") center bottom repeat-x,
    url("../img/border_gradient_vertical.png") left top repeat-y,
    url("../img/border_gradient_vertical.png") right top repeat-y;
    position: relative;
}

.slider__arrow_left {
    content: url('../img/slider_left-10.png');
    height: 21px;
    left: -1.5%;
    position: absolute;
    top: 44%;
    width: 21px;
}

.slider__arrow_right {
    content: url('../img/slider_right-10.png');
    height: 21px;
    position: absolute;
    right: -1.5%;
    top: 44%;
    width: 21px;
}

.slider__content:last-child {
	margin-right: 0;
}

.slider__content_img {
	float: left;
	margin-right: 5%; /*30px*/
}

.slider__content_info {
    color: rgb(141, 141, 141);
    float: left;
    font-family: 'OpenSansLight';
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    width: 92%;
}

.slider__content_title {
	color: rgb(102, 102, 102);
    font-size: 14px;
    font-weight: 400;
    line-height: 37px;
	padding: 24px 0 27px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.slider__next {
	color: rgb(102, 102, 102);
    float: right;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 13%;
	position: relative;
	padding:22px 0;
}

.slider__next:after {
    content: url('../img/next_double_arrow.png');
    display: inline-block;
    position: absolute;
    right: -62%;
    top: 41%;
}

				/*****VARIANTS OF EXCHANGING****/

.variants {
	font-family: 'OpenSansRegular';
    margin-top: 50px;
}
                    /*вариант через бордер-градиент*/
.variants .container,
.settings .container {
    position: relative;
    /* background: url('../img/sceme__contur.png') 0 0 no-repeat; */
    height: 438px;
    margin: 0 auto;
    max-width: 1080px;
    border-top: 2px solid #a5a5a5;
    border-bottom: 2px solid #a5a5a5;
    border-radius: 18px;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: 2px 100%;
    background-image: linear-gradient(#a5a5a5 0%, transparent 30%, transparent 70%, #a5a5a5 100%), linear-gradient(#a5a5a5 0%, transparent 30%, transparent 70%, #a5a5a5 100%);
}

.variants__links {
    background: url(../img/scheme1.png) no-repeat;
    height: 317px;
    max-width: 763px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    margin-top: 5%;
}

.variants__title {
    position: absolute;
    left: 35%;
    top: -9px;
    background: #fff;
    padding: 0 3%;
	color: #666;
    text-align: center;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}


.settings__header {
    color: #666;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 0 40px 0;
}

.variants__scheme {
	text-align: center;
    text-align: center;
	width: 100%;
}

.variants_perfectM {
    color: #8d8d8d;
    font-size: 36px;
    font-weight: 400;
    left: -9%;
    position: absolute;
    top: 8%;
    text-decoration: none;
}

.variants_perfectM:hover {
	color: #d6372a;
}

.variants_btc {
    color: #8d8d8d;
    font-size: 20px;
    font-weight: 400;
    left: -6%;
    text-transform: uppercase;
    text-decoration: none;
    top: 44%;
    position: absolute;
}

.variants_btc:hover {
	color: rgb(89, 99, 187);
}

.variants_exmo {
    position: absolute;
    text-transform: uppercase;
    text-decoration: none;
    top: 66%;
    left: 11%;
    color: #8d8d8d;
    font-size: 24px;
    font-weight: 400;
}

.variants_exmo:hover {
	color: rgb(69, 184, 255);
}

.variants_payeer {
    bottom: 1%;
    color: #8d8d8d;
    left: -3%;
    font-size: 32px;
    font-weight: 400;
    text-decoration: none;
    position: absolute;
}

.variants_payeer:hover {
	color: rgb(52, 152, 219);
}

.variants_W1 {
    left: 26%;
    color: #8d8d8d;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    text-transform: uppercase;
    text-decoration: none;
    top: -5%;
}

.variants_W1:hover {
	color: #000;
}

.variants_litecoin {
    color: #8d8d8d;
    font-weight: 400;
    font-size: 24px;
    left: 40%;
    position: absolute;
    text-decoration: none;
    top: -4%;
}

.variants_litecoin:hover {
	color: rgb(102, 102, 102);
}

.variants_qiwi {
    color: #8d8d8d;
    font-size: 32px;
    font-weight: 400;
    left: 56%;
    position: absolute;
    text-transform: uppercase;
    text-decoration: none;
    top: 14%;
}

.variants_qiwi:hover {
	color: rgb(246, 143, 30);
	cursor: pointer;
}

.variants_paymer {
    position: absolute;
    text-decoration: none;
    top: 30%;
    left: 36%;
    color: #8d8d8d;
    font-size: 36px;
    font-weight: 400;
}

.variants_paymer:hover {
	color: rgb(0, 106, 180);
}

.variants_Bitcoin {
    position: absolute;
    text-decoration: none;
    top: 56%;
    left: 56%;
    color: #8d8d8d;
    font-size: 28px;
    font-weight: 400;
}

.variants_Bitcoin:hover {
	color: rgb(246, 143, 30);
}

.variants_yandex {
    position: absolute;
    text-decoration: none;
    top: 78%;
    left: 34%;
    color: #8d8d8d;
    font-size: 24px;
    font-weight: 400;
}

.variants_yandex:hover {
	color: rgb(221, 87, 27);
}

.variants_cash {
    position: absolute;
    text-decoration: none;
    top: -4%;
    right: -6%;
   	color: #8d8d8d;
    font-size: 24px;
    font-weight: 400;
}

.variants_cash:hover {
	 color: rgb(70, 211, 164);
}

.variants_privat {
    position: absolute;
    text-decoration: none;
    top: 22%;
    right: 3%;
    color: #8d8d8d;
    font-size: 20px;
    font-weight: 400;
}

.variants_privat:hover {
	color: rgb(11, 142, 54);
}

.variants_privat span {
	color:#000;
}

.variants_ok {
    position: absolute;
    text-decoration: none;
    top: 44%;
    right: -9%;
    color: #8d8d8d;
    font-size: 20px;
    font-weight: 400;
}

.variants_ok:hover {
	color: rgb(221, 87, 27);
}

.variants_webM {
    position: absolute;
    text-decoration: none;
    top: 72%;
    right: -8%;
    color: #8d8d8d;
    font-size: 28px;
    font-weight: 400;
}

.variants_webM:hover {
	color: rgb(0, 106, 180);
}

			/*	***SETTINGS - how it works****/
.settings {
	color:#666;
	font-family: 'OpenSansLight';
    margin: 50px 0 0 0;
}

.settings .container {
   /* background: url('../img/settings__contur.png') 0 0 no-repeat;*/
    height: 500px;
    max-width: 1080px;
}

.settings__header {
    font-family: 'OpenSansExtraBold';
    padding-bottom: 0;
    position: absolute;
    left: 41%;
    top: -9px;
    background: #fff;
    padding: 0 3%;
    color: #666;
    font-size: 16px;
    text-transform: uppercase;
}

.settings__info {
	float: left;
    margin-right: 4.6%;
    padding:35px 0 48px 3.5%;
	width: 47%;
}

.settings__info:last-child {
    padding-left: 0;
    padding-right: 3.5%;
}

.settings__info:last-child {
	float: right;
	margin-right: 0;
}

.settings__item {
	color: #666;
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
    margin-bottom: 15px;
}
						/*	***SHARE****/
.share .container {
	padding:50px 0;
	text-align: center;
    vertical-align: middle;

}

.share__text {
	color: rgb(102, 102, 102);
	display: inline-block;
    font-family: 'OpenSansBold';
    font-size: 16px;
    font-weight: 400;
	margin-right: 2%;
    text-transform: uppercase;
}

.share__btn {
    background: url('../img/sprite_social.png') center no-repeat;
    background-position: 0 0;
    display: inline-block;
    height: 34px;
    margin-right: 2%;
    margin-top: 1%;
    vertical-align: middle;
    width: 14px;
}

.share__btn-fb {
	background-position: 32% 0;
}

.share__btn-twitter {
    background-position: 63% 0;
    width: 14px;
}

.share__btn-google {
    background-position: 100% 0;
    width: 20px;
}

		/****FOOTER****/

.footer {
    font-family: 'OpenSansBold';
    height: 250px;
}

.footer__list {
    border: 1px solid #7da3ef;
    line-height: 0;
    text-align: justify;
    padding: 10px 9% 0 9%;
}

.footer__list:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
}

.footer__item {
    display: inline-block;
    position: relative;
    padding: 10px 0;
}

.footer__link {
    color: rgb(115, 115, 115);
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    width:100%;
}

.footer__link::after {
    display: inline-block;
    content: url('../img/arrow_up.png');
    top: -5px;
    position: absolute;
    right: -57%;  /*-3em*/
}

.footer__link_social:after {
    display: none;
}

.footer__sub {
    padding:0 9%;
}

.footer__sublist {
    display: inline-block;
    height: 100%;
    margin-right: 4.6%;
}

.footer__sublist_contacts {
    margin-right: 3%;
}

.footer__subitem {
    text-align: center;
}

.footer__sublink {
    color: rgb(141, 141, 141);
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
}

.footer__sublist {
    position: relative;
    padding-top: 27px;
    vertical-align: top;
}

.footer__link_social {
    margin-right: 0;
    right: 10px;
}

.footer__btn {
    background: url('../img/social_sprite.png') center no-repeat;
    background-position: 0 -2%;
    display: block;
    height: 30px;
    margin-right: 2%;
    margin-top: 1%;
    vertical-align: middle;
    width: 14px;
}

.footer__btn-fb {
    background-position: -7% 38%;
}

.footer__btn-twitter {
    background-position: -14% 78%;
    width: 32px;
}

.footer__btn-google {
    background-position: 15% 117%;
    width: 20px;
}
