                /****FONTS****/
@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
                    /*****GENERAL*****/

* {
	box-sizing: border-box;
}

body {
	font-family: 'OpenSansExtraBold';
}

.clearfix:after {
 	content:'';
 	clear: both;
 	display: block;
}

.container {
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
	
}

.wrap {
	background: #fff;
}

                    /*****HEADER*****/

.header {
	height: 68px;
}

.header .container {
	padding: 18px 3.61%;
}

.header__cash {
	float: left;
	width:26%; /*13.31 по макету*/
}

.header__cash_link {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1.3%; /*14px*/
}

.header__nav {
	text-align: right;
	float: right;
	width:55%;
}

.header__nav_item {
	display: inline-block;
	border: 1px solid #666;
	margin-right: 1.48%	;
	height: 31px;
	line-height: 31px;
	position: relative;
}

.nav__subnav {
	text-align: left;
	border: 1px solid #666;
	border-top: none;
	position: absolute;
	top:31px;
	left:-1px;
	width:100%;
	list-style-type: square;
	list-style-position: inside;
	background-color: #fff;
	display: none;
}

.header__nav >li:hover .nav__subnav{
	display: block;
}

.nav__subnav >li:hover .nav__sublink {
	color: #1469eb;
}

.nav__subitem {
	color: #1469eb;
}

.header__nav_link,
.nav__sublink {
	display: block;
	padding:0 39px 0 15px; (3% i 1% right i left)
	color: #666;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

.nav__sublink {
	padding: 0;
	padding-left: 17px;
}

.header__nav_link:hover {
	color:#1469eb;
	border-color:#1469eb;
}

.header__nav_link:after {
    content: "";
    background: url('../img/arrow_down.png') no-repeat center;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 13px;
    width: 12px;
    height: 10px;
    margin-top: -5px;
}
			/*SEPARATE*/
.separate .container{
	width: 100%;
	height: 1px;
	background: url(../img/bottom.png) repeat-x;

}

				/****SERVICE****/
.service {
	padding:40px 4% 0 4%;
}

.service__list {
	text-align: justify;
} 

.service__list:after {
	content: "";
	display: inline-block;
	width: 100%;
	height: 0;
}

.service__list_item {
	display: inline-block;
	text-align: center;
}

.serive__list_link {
	text-decoration: none;
}

.service__list_title {
    color: #666;
    font-family: 'OpenSansBold';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    width: 98%;
    padding-top: 21px;
}

			/****BREADCRUMBS****/
.exchange__header {
	color: rgb(102, 102, 102);
	font-size: 16px;
	font-weight: 700;
	line-height: 37px;
	text-transform: uppercase; 
	text-align: center;
	padding:44px 0;
}

.actions {
	border:1px solid #1469eb;
}

.action:last-child {
	border-right: none;
}

.action {
	float: left;
	width: 33%;
	height: 80px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	position: relative;
	box-sizing: border-box;
}

.action__give:before, 
.action__back:before {
    position: absolute;
    content: "получаете";
    color: rgb(102, 102, 102);
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    top: 13px;
    left: 9%;
}

					

.action__give:before {
    content: "отдаете";
}

.action{
	background: url('../img/triangle-right.png') 0 center no-repeat;

}

.action:first-child{
	background: none;
}

					/*breadcrumbs - треугольник бордер - 2 вар*/

/*.action:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 50px solid #1469eb;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    right: -50px;
    top: 35px;
    background: #fff;
}


.action:last-child:after {
	display: none;
}
*/

.action__content{
	padding:30px 0 22px 4%;
	color: rgb(102, 102, 102);
	font-size: 20px;
	font-weight: 700;
}

.action__content_item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 35px;
	text-decoration: none;
	color: rgb(102, 102, 102);
}

.action__content_item a {
	display: block;
}

					/****TABLE_SUBMENU****/

.action__item_submenu-table {
	position: absolute;
}

			/****arrows down****/

.action__content_item-img {
	position: relative;
}

.action__content_item:after {
    content: "";
    background: url('../img/arrow_action_down.png') no-repeat center;
    display: inline-block;
    position: absolute;
    top: 50%;
}

.action__content_item:first-child:after {
	display: none;
}

.action__content_item-img:after,
.action__content_item-usd:after {
    content: url('../img/arrow_action_down.png');
    display: inline-block;
    position: absolute;
    top: 42%;
    right: 29%;
}

.action__content_item-usd:after {
    right: 4%;
}

.action__content_item:last-child, 
.action__content_item:first-child {
	margin-right: 0px;
}

.action__result{
	width: 100%;
	display: block;
	text-decoration: none;
	color: rgb(20, 105, 235);
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}						/****EXCHANGE INFO****/

.exchange__info {
	color: rgb(115, 115, 115);
	font-size: 14px;
	font-weight: 300;
	font-family: 'OpenSansLight';
	padding:21px 0 51px 0;
}

.exchange__info_privat {
	font-weight: bold;
	padding:0 1.8%;
	position: relative;
}

.exchange__info_sum {
	padding:0 1.8%;
}

.exchange__info_available {
	float: left;
	width: 36.43%;
	padding-left: 1.5%;
	
}

.exchange__info_available img,
.exchange__info_available span {
	vertical-align: middle;
}

.exchange__info_available:after {
    content: url('../img/exchange_info_separate.png');
    width: 9.26%;
    position: absolute;
    display: inline-block;
    margin-left: 10%;
}

.exchange__info_inform {
    float: right;
    text-align: right;
    width: 35%;
    vertical-align: middle;
    padding-right: 1.5%;
}


.exchange__info_inform img {
	padding:0 1.96% 0 3.75%;
	vertical-align: middle;
}

				/****PROPOSITIONS****/
.preposition{
	padding:44px 0 50px 0;
	
	text-align: justify;
}

.preposition:after {
	content: "";
	display: inline-block;
	width: 100%;
	height: 0;
}

.preposition__contain {
	width: 33%;
	display: inline-block;
	text-align: center;


}

.preposition__item {
	padding-left: 6%;
	text-decoration: none;
	color: rgb(115, 115, 115);
	font-family: 'OpenSansBold';
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
}


.preposition__item:before {
    content: url('../img/course.png');
    display: inline-block;
    left: 0;
    margin-right: 3%;
}

.preposition__contain_partnership {
	position: relative;
}

.preposition__item-partnership:before {
	content: url('../img/partnership.png');
}

.preposition__item-bonuse:before {
	content: url('../img/bonuse.png');
}

.preposition__contain_partnership:before {
	content: '';
    width: 40%;
    height: 2px;
    background-color: #8d8d8d;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -18%;
}

.preposition__contain_partnership:after {
	content: '';
    width: 44%;
    height: 2px;
    background-color: #8d8d8d;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: -29%;
}

			/****PREPOSITION****/

.project__content {
	float: left;
	width: 45%;
	margin-right: 10%;
	padding-bottom: 20px;

}

.project__content:last-child {
	margin-right: 0;
}

.project__content_img {
	float: left;
	margin-right: 5%; /*30px*/
}

.project__content_info {
    float: left;
    color: rgb(141, 141, 141);
    font-family: 'OpenSansLight';
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    width: 92%;
}

.project__content_title {
	text-align: center;
	color: rgb(102, 102, 102);
	font-size: 14px;
	font-weight: 700;
	line-height: 37px;
	text-transform: uppercase;
	padding: 24px 0 27px 0;
}

.project__next {
	float: right;
	color: rgb(102, 102, 102);
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 13%;
	position: relative;
	padding:22px 0;
}

.project__next:after {
    position: absolute;
    display: inline-block;
    content: url('../img/next_double_arrow.png');
    top: 41%;
    right: -62%;
}

				/*****VARIANTS OF EXCHANGING****/

.variants {
	margin-top: 50px;
	font-family: 'OpenSansRegular';
	margin-bottom: 50px;
}

.variants .container {
	position: relative;
	max-width: 1080px;
	width: 100%;
	
}

.variants__title,
.settings__header {
	text-align: center;
	color: #8d8d8d;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.variants__scheme {
	padding:5% 0;
	text-align: center;
	width: 100%;
	text-align: center;
}

.variants_perfectM {
   	position: absolute;
    top: 20%;
    left: -9%;
    color: #8d8d8d;
    font-size: 36px;
    font-weight: 400;
    text-decoration: none;
}

.variants_perfectM:hover {
	color: #d6372a;
}

.variants_btc {
    position: absolute;
    color: #8d8d8d;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    top: 50%;
    left: -9%;
}

.variants_btc:hover {
	color: rgb(89, 99, 187);
}

.variants_exmo {
    position: absolute;
    text-transform: uppercase;
    text-decoration: none;
    top: 62%;
    left: 7%;
    color: #8d8d8d;
    font-size: 24px;
    font-weight: 400;
}

.variants_exmo:hover {
	color: rgb(69, 184, 255);
}

.variants_payeer {
    position: absolute;
    text-decoration: none;
    bottom: 15%;
    left: -4%;
    
    font-size: 32px;
    font-weight: 400;
}

.variants_payeer:hover {
	color: rgb(52, 152, 219);
}

.variants_W1 {
    position: absolute;
    text-transform: uppercase;
    text-decoration: none;
    top: 5%;
    left: 24%;
    color: #8d8d8d;
    font-size: 20px;
    font-weight: 400;
}

.variants_W1:hover {
	color: #000;
}

.variants_litecoin {
    position: absolute;
    text-decoration: none;
    top: 7%;
    left: 44%;
    font-weight: 400;
    color: #8d8d8d;
    font-size: 24px;
}

.variants_litecoin:hover {
	color: rgb(102, 102, 102);
}

.variants_qiwi {
    position: absolute;
    text-transform: uppercase;
    text-decoration: none;
    top: 22%;
    left: 67%;
    color: #8d8d8d;
    font-size: 32px;
    font-weight: 400;
}

.variants_qiwi:hover {
	color: rgb(246, 143, 30);
	cursor: pointer;
}

.variants_paymer {
    position: absolute;
    text-decoration: none;
    top: 36%;
    left: 36%;
    color: #8d8d8d;
    font-size: 36px;
    font-weight: 400;
}

.variants_paymer:hover {
	color: rgb(0, 106, 180);
}

.variants_Bitcoin {
    position: absolute;
    text-decoration: none;
    top: 55%;
    left: 62%;
    color: #8d8d8d;
    font-size: 28px;
    font-weight: 400;
}

.variants_Bitcoin:hover {
	color: rgb(246, 143, 30);
}

.variants_yandex {
    position: absolute;
    text-decoration: none;
    top: 72%;
    left: 31%;
    color: #8d8d8d;
    font-size: 24px;
    font-weight: 400;
}

.variants_yandex:hover {
	color: rgb(221, 87, 27);
}

.variants_cash {
    position: absolute;
    text-decoration: none;
    top: 7%;
    right: -10%;
   	color: #8d8d8d;
    font-size: 24px;
    font-weight: 400;
}

.variants_cash:hover {
	 color: rgb(70, 211, 164);
}

.variants_privat {
    position: absolute;
    text-decoration: none;
    top: 26%;
    right: -4%;
    color: #8d8d8d;
    font-size: 20px;
    font-weight: 400;
}

.variants_privat:hover {
	color: rgb(11, 142, 54);
}

.variants_privat span {
	color:#000;
}

.variants_ok {
    position: absolute;
    text-decoration: none;
    top: 50%;
    right: -3%;
    color: #8d8d8d;
    font-size: 20px;
    font-weight: 400;
}

.variants_ok:hover {
	color: rgb(221, 87, 27);
}

.variants_webM {
    position: absolute;
    text-decoration: none;
    top: 69%;
    right: -11%;
    color: #8d8d8d;
    font-size: 28px;
    font-weight: 400;
}

.variants_webM:hover {
	color: rgb(0, 106, 180);
}

			/*	***SETTINGS - how it works****/
.settings {
	color:#666;
	font-family: 'OpenSansLight';
}

.settings__header {
	font-family: 'OpenSansExtraBold';
	text-align: center;
}

.settings__info {
	float: left;
	width: 47%;
	margin-right: 4.6%;
	padding:35px 0 48px 0px;
}

.settings__info:last-child {
	float: right;
	margin-right: 0;
}

.settings__item {
	color: #666;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 25px;
	line-height: 20px;
}
						/*	***SHARE****/
.share .container {
	padding:50px 0;
	vertical-align: middle;
	text-align: center;
}

.share__text {
	color: rgb(102, 102, 102);
	font-family: 'OpenSansBold';
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 2%;
}

.share__btn {
    display: inline-block;
    background: url('../img/sprite_social.png') center no-repeat;
    background-position: 0 0;
    width: 14px;
    height: 34px;
    margin-right: 2%;
    margin-top: 1%;
    vertical-align: middle;
}

.share__btn-fb {
	background-position: 32% 0;
}

.share__btn-twitter {
    width: 14px;
    background-position: 63% 0;
}

.share__btn-google {
    width: 20px;
    background-position: 100% 0;
}

		/****FOOTER****/
.footer {
	font-family: 'OpenSansBold';
	height: 250px;
}

.footer__list {
	text-align: justify;
	border: 1px solid #7da3ef;
	height: 30px;
	line-height: 30px;
	padding: 0 8%;
}

.footer__list:after {
	content: "";
	display: inline-block;
	width: 100%;
	height: 0;
}

.footer__item {
	display: inline-block;
	position: relative;

}
.footer__link {
	text-decoration: none;
	display: block;
	width:100%;
	color: rgb(115, 115, 115);
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 400;
	position: relative;
}

.footer__link:after {
    display: inline-block;
    content: url('../img/arrow_up.png');
    top: 0;
    left: 142%;
    position: absolute;
}

.footer__link_social:after {
	display: none;
}

.footer__subitem {
    width: 128%;
    text-align: center;
}

.footer__sublink {
	text-decoration: none;
	color: rgb(141, 141, 141);
	font-size: 12px;
	line-height: 20px;
}

.footer__sublist {
    position: absolute;
    top: 140%;
    left: -46%;
    width: 150%;
}

.footer__link_social {
	position: absolute;
    top: 30px;
    right: 19px;
}

.footer__btn {
    display: block;
    background: url('../img/social_sprite.png') center no-repeat;
    background-position: 0 -2%;
    width: 14px;
    height: 30px;
    margin-right: 2%;
    margin-top: 1%;
    vertical-align: middle;
}

.footer__btn-fb {
	background-position: -7% 38%;
}

.footer__btn-twitter {
    width: 32px;
    background-position: -14% 78%;
}

.footer__btn-google {
    width: 20px;
    background-position: 15% 117%;
}


