@import url(reset.css);

@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/opensanslight-webfont.eot');
    src: url('../fonts/opensanslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanslight-webfont.woff2') format('woff2'),
         url('../fonts/opensanslight-webfont.woff') format('woff'),
         url('../fonts/opensanslight-webfont.ttf') format('truetype'),
         url('../fonts/opensanslight-webfont.svg#open_sans_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('../fonts/opensansextrabold-webfont.eot');
    src: url('../fonts/opensansextrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensansextrabold-webfont.woff2') format('woff2'),
         url('../fonts/opensansextrabold-webfont.woff') format('woff'),
         url('../fonts/opensansextrabold-webfont.ttf') format('truetype'),
         url('../fonts/opensansextrabold-webfont.svg#open_sans_extraboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background: #f9f9f9;
	font-family: 'LeagueGothic';
}

.clearfix:after {
 	content:'';
 	clear: both;
 	display: block;
}

header {
	background: url("../img/header_mountains.png") top center no-repeat;
	background-size: cover;
}

.wrap {
	max-width: 320px;
	margin: 0 auto;
}

.header__logo {
	color: white;
	font-size: 46px;
	font-weight: normal;
	padding: 18% 0 0 0;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	text-align: center;
}

.header__logo span {
	color: #654672;
}
.main__menu {
	text-decoration: none;
    border-bottom: 1px solid #edbfff;
    font-size: 24px;
    margin: 0 0 0 140px;
    position: relative;
    top: 32px;
    text-transform: uppercase;
    color: #fff;
}

.header__menu_768 {
	display: none;
}

.header__menu {
	display: none;
}
.header__menu a {
	color:#fff;
	display: block;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	zoom: 1; /* для IE, что ы отступ был как во всех браузерах*/
}
.header__menu>li {
	background-color: #36293e;
	border: 1px solid #051116;
	border-radius: 7px 7px 0 0;
	box-sizing: border-box;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	line-height: 46px;
	margin: 5.6% auto 0 auto;
	opacity: 0.8;
	position: relative;
	width: 76%;
}

.header__menu>li:before{
	content: url(../img/underlining.png);
	position: absolute;
	top: 12px;
	left: 96px;
}

.header__menu li {
	line-height: 46px;
	height: 46px;
	/*box-shadow: inset 0 -1px 0 rgba(105, 82, 114, 0.59);*/
}

.sub_menu {
	border: 1px solid #051116;
	border-top: none;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	display: none;
	position: absolute;
	text-align: center;
	left: -1px;
	top: 46px;
	width: 246px; /*НЕ ПОЛУЧАЕТСЯ ПЕРЕВЕСТИ В %*/
  border-radius: 3px;
  background-color: rgba(67,54,74,0.9);
  transition: 0.5s;
}

.sub_menu li {
	line-height:42px;
	height: 42px;
}

.sub_menu a {
	background-color: #36293e;
	opacity: 0.8;
  color: white;
  text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.6);
  text-decoration: none;
  list-style-type: none;
}

.header__menu li:hover, .sub_menu li:hover {
	border-bottom: 1px solid #edbfff;
	background-color: #36293e;
	opacity: 1;
}
.sub_menu li {
  margin: 0% 0% 0% 0%;
  border-top: 1px solid #614b6c;
  border-bottom: 1px solid #36283e;
  border-bottom: 2px solid rgba(0,0,0,0.0);
}
.sub_menu a:hover {
  position: relative;
  text-decoration: underline;
  border-bottom: 2px solid #edbfff;
  color: white;
}
.sub_menu li:hover {
  background: rgba(45,36,50,0.7);
  border-bottom: 2px solid #edbfff;
}
.header__menu>li:hover .sub_menu,
.header__menu>li:focus .sub_menu {
	display: block;
}
/**** SLIDER ****/
.slider {
  position: relative;
}
.arrows {
  max-width: 328px;
  margin: 0 auto;
  position: relative;
}
.arrows__left {
  background-image: url('../img/left_arrow.png');
  width: 22px;
  height: 34px;
  margin: 50% 0% 0% 0%;
  float: left;
}
.arrows__right {
  background-image: url('../img/right_arrow.png');
  width: 22px;
  height: 34px;
  margin: 50% 0% 0% 0%;
  float: right;
}
.slider__info {
  color: white;
  padding: 47% 0% 0% 20%;
}
.slider__headline {
  font-size: 36px;
}
.slider__description {
  font-size: 18px;
  color: #edbfff;
}
.slider__buttons {
  margin: 22% 0% 0% 26%;
}
.slider__buttons li {
  float: left;
  list-style: none;
  margin: 3% 4% 36% 0%;
}
.slider__buttons a {
  display: block;
  width: 19px;
  height: 17px;
  background: url('../img/slider.png') 0 0 no-repeat;
}
.slider__buttons a:hover {
  background: url('../img/slider.png') -21px 0 no-repeat;
}
.slider__buttons a:focus {
  background: url('../img/slider.png') -21px 0 no-repeat;
}
/**** END SLIDER ****/

.slider__text {
  display: none;
}
.slider__description>span {
  display: none;
}

.iphone {
  display: none;
}

.big_iphone {
  display: none;
}

.big_bg_iphone {
  display: none;
}



.about {
	background: #6a4a77; /*for old browsers*/
	background:  -moz-linear-gradient(to top, #322539 0%, #745083 100%);
	background:  -moz-linear-gradient(to top, #322539 0%, #745083 100%); /* FF3.6-15 */
	background:  -webkit-linear-gradient(to top, #322539 0%, #745083 100%); /* Chrome10-25,Safari5.1-6 */
 	background: linear-gradient(to bottom,  rgba(116,80,131,1) 0%,rgba(50,37,57,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 	border-top: 1px solid #33253a;
 	border-bottom: 1px solid #33253a;border-top: 1px solid #000;
 	border-bottom: 1px solid #000;
 	box-shadow: 0px 6px 8px 1px rgba(50,37,57,0.3);
 	border-top: 1px solid #000;
 	border-bottom: 1px solid #000;
 	padding:0 0 40px 0;
 }

article h3 {
	color: #fff;
	font-size: 24px;
	font-weight: normal;
	text-shadow: 0.5px 0.9px 0 #0f1518;
	margin-bottom: 1%;
}

article p {
	color: white;
	font-family: 'OpenSansLight';
	font-size: 16px;
	line-height: 25px;
	max-height: 71px;
	overflow: hidden;
	text-shadow: 0.5px 0.9px 0 #0f1518;
}

article {
	margin:0 2% 7% 8%; /*левый --точно */
}

article:first-child {
	margin-top: 22%;
}

.second_article {
	margin-bottom: 12%;
}

.sign {
	float: left;
	width: 14%;
	height: 30px;
	background: url(../img/sprites.png) 6px 1px no-repeat;
	margin-right: 6%;
}

.block {
	float: left;
	width: 78%;
}

button {
	background: none;
	border:none;
	clear:both;
	color:#fff;
	cursor: pointer;
	font-family: 'LeagueGothic';
	font-size: 18px;
	float: right;
	margin:5% 0 0 0;
	outline:none;
	padding-top: 6px;
	text-shadow: 0.5px 0.9px 0 #0f1518;
	text-transform: uppercase;
}

button:hover {
		color: white;
		text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    transition: 0.5s;
}
.second_article button {
	margin: 4% 0 0 0;
}

.third_article button {
	margin:4% 0 0 0;
}

.pingbuller_content {
	background-color: #f9f9f9;
}

.pingbuller {
	box-sizing: border-box;
	position: relative;
	width: 86%;
}

.face {
	position: absolute;
	top:18px;
	left:-5px;
	width: 49px;
	z-index:10;
}

.pingbuller h3 {
	color: #454545;
	font-family: 'LeagueGothic';
	font-size: 24px;
	margin: 0 0 1% -2%;
	text-transform: uppercase;
	text-shadow: 0.5px 0.9px 0 #fff;
}

.pingbuller span {
	color: #edbfff;
	font-family: 'LeagueGothic';
	font-size: 24px;
	text-shadow: 0.5px 0.9px 0 white;
	text-transform: uppercase;
}

.pingbuller p {
	color: #454545;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	max-height: 169px;
	overflow: hidden;
	text-shadow: 0.5px 0.9px 0 #fff;
	width: 85%;
}

.pingbuller .block {
	float: right;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	padding: 9% 1% 11% 14%;
	z-index: 0;
}

.pingbuller_button {
	cursor: pointer;
	font-weight: 400;
	margin: 6% 0 0 44%;
	position: relative;

}

.pingbuller_button a {
	background: url(../img/slider2.png) 0 0 no-repeat;
	display: block;
	height: 19px;
	width: 17px;
}

.pingbuller_button li {
	margin: 0 3% 0 0;
  display: inline-block;
}

.pingbuller_button a:hover {
	background-position: -23px 0;
}

.recent_updates {
	border-bottom: 2px solid #e6e6e6;
	font-family: 'OpenSansLight';
	clear: both;
	margin:6% 0 0 0;
	padding: 0 0 5.8% 0;

}

.recent_updates h2 {
	color: #454545;
	font-family: 'LeagueGothic';
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	padding: 0 0 0 6%;
	text-shadow: 0.5px 0.9px 0 #fff;
	text-transform: uppercase;

}

.updates_icons {
	float: left;
	margin: 6% 0 0 6%;
	width: 16%;
}
.updates_icons a {
	display: block;

}
.updates_icons a:first-child {
	margin: 1% 0 25% 0;
}

.updates_icons a:last-child {
	margin: 40% 0 0 0;
}

.updates_news {
	color: #454545;
	float: right;
	font-size: 16px;
	font-weight:bold;
	line-height: 24px;
	margin-right: 6%;
	text-shadow: 0.5px 0.9px 0 #fff;
	width: 68%;
}
.updates_news span{
	font-weight: normal;
}
.update_block p {
    height: 21px;
    overflow: hidden;
}
.update_block:first-child {
	margin: 9% 0 8% 0;
}

.update_block:last-child {
	margin: 12% 0 0 0;
}

.recent_updates button {
	clear: both;
	float: right;
	text-shadow: 0.5px 0.9px 0 #fff;
	color: #454545;
	font-family: 'LeagueGothic';
	font-size: 18px;
	font-weight: normal;
	margin: 2% 6% 0 0;
	text-transform: uppercase;
}

.logo {
	    padding: 51px 0 73px 0; /* в відсотках не виходить встановити значення*/
	border-top: 2px solid #fefefe;
}
.logo_item{
	float: left;
	/*width: 40%;*/
}
.logo_1 {
	margin:0 0 0 19%;
}

.logo_2 {
	margin:0 0 0 18%;
}

.logo_3 {
	margin:18% 0 0 22%;
}

.logo_4 {
	margin: 18% 0 0 21%;
}

.logo_5 {
	margin: 19% 0 0 13%;
}

.logo_6 {
	margin: 13% 0 0 0;
}
.footer {
	background: #fff url("../img/footer.png") top center no-repeat;
	background-size: cover;
	display: block;
	width: 100%;
	margin: 0 auto;
}
.last__news {
  display: none;
}
.nav__footer {
  display: none;
}
/***** COPYRIGHT *****/
.design {
	width: 100%;
	text-align: center;
	padding: 12% 0% 44% 0%;
}
.copyright {
	font-family: 'OpenSansLight';
	color: #fff;
	font-size: 12px;
}
.copyright a {
	font-family: 'OpenSansExtraBold';
	font-size: 12px;
	text-decoration: none;
	color: white;
}
.copyright a:focus,
.copyright a:hover {
	transition: 0.5s;
	color: white;
	text-decoration: none;
	text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}
