
$main_color_first:#1ed8c8;
$main_color_second:#e8645a;
$main_color_second-sub:#e2534b;

			/*FONTS*/

@font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway-Bold.eot');
    src: local('â˜º'), url('../fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold.ttf') format('truetype'), url('../fonts/Raleway-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoblack';
    src: url('../fonts/lato-black-webfont.woff2') format('woff2'),
         url('../fonts/lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ConvRaavi';
    src: url('../fonts/raavi.eot');
    src: local('☺'), url('../fonts/raavi.woff') format('woff'), url('fonts/raavi.ttf') format('truetype'), url('fonts/raavi.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
	 box-sizing: border-box;
    /* overflow-x:hidden;*/
}


/********************HEADER**************************/

header {
    height: 825px;
    background: url('../img/header_bg.png') top center no-repeat;
    background-size: cover;
    font-family: 'Raleway-Bold';
    position: relative;
    overflow: hidden;

    .header__menu {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .header__top_nav {
        margin-top: 40px;
        float: left;
        position: relative;

        .header__top_nav-list {
            display: none;
            position: absolute;
            left: 9%;
            top: -11px;
            background-color: rgba(46, 109, 164, 0.6);
            padding: 15px 10px;

        }

        .header__top_nav-item {
            float: left;
            margin-right: 55px;

            .header__top_nav-link {
                display: block;
                text-decoration: none;
                color: #fff;
                font-size: 18px;
                font-weight: normal;

                &:hover {
                    color:#0054FF;
                }
            }

        }
    }

    .header__top_search {
        float: right;
        font-size: 23px;
        margin-top: 40px;
        text-align: right;
        position: relative;
        a {
            text-decoration: none;
            color:#fff;

             &:hover {
                        color:#0054FF;
            }
        }

        form {
            position: absolute;
            top: -9px;
            right: 60px;
            font-size: 20px;
            background: transparent;
            display: none;

            input {
                padding:10px;
                background: #ccc;
                border:none;

                &:focus {
                    outline:none;
                    box-shadow: 0 0 10px rgba(255,255,255,0.5);
                }
            }
        }

    }

}

.header__content {
    margin-top: 298px;
    
    .header__content_title {
        color: #fff;
        font-family: 'latoblack';
        font-size: 49px;
        font-weight: 900;
        text-align: right;
    }

    .header__content_text {
        color: #fff;
        font-family: 'ConvRaavi';
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        margin:31px 0 46px 0;
        text-align: justify;
    }

    .header__content_btns {
        padding: 0 87px;

        .header__btn {
            background-color: transparent;
            border:1px solid #fff;
            display: block;
            padding: 15px 35px;
            text-decoration: none;
            color:#fff;
            color: rgb(86, 100, 115);
            font-family: 'ConvRaavi';
            font-size: 21px;
            font-weight: 400;

            &:hover {
                background-color: #fff;
            }
        }

        .header__btns_downl {
            float: left;
        }

        .header__btns_learn {
            float: right;
        }
    }


}
    .header__phone {
        /*position: absolute;
        left: 56%;
        top: 25.3%;*/
        margin-top: 12%;
    }

/**************************CHECKOUT***********************/

.checkout {
    padding: 42px 0 38px 0;
    background-color: #5dade2;
    color:#fff;
    font-family: 'Raleway-Bold';
    text-align: center;
    width: 100%;
    
    .checkout__title {
        font-size: 23px;
        font-weight: 700;
    }

    .checkout__text {
        font-size: 13px;
        font-weight: 400;
        line-height: 17px;
        padding-top: 20px;
    }

}


/***********************LOGIN*************************/

.login {
     font-family: 'Raleway-Bold';
     color: rgb(86, 100, 115);
     padding-top: 95px;
     overflow: hidden;

     .login__phone {
        text-align: right;
        margin-bottom: -110px;
     }

     .login__text {
        text-align: right;

            .login__text_title {
               font-size: 30px;
                font-weight: 700; 
                padding: 116px 0 33px 0;
            }
            
            .login_text_info {
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
            }
     }


}

/********************MENU***************************/

.menu {
     font-family: 'Raleway-Bold';
     background-color: #eff3f3;
     color: rgb(86, 100, 115);
     padding-top: 95px;
     overflow: hidden;

     .menu__phone {
        text-align: right;
        margin-bottom: -110px;
     }

     .menu__text {
        text-align: left;

            .menu__text_title {
               font-size: 30px;
                font-weight: 700; 
                padding: 116px 0 33px 0;
            }
            
            .menu_text_info {
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
            }
     }


}


/******************SLIDER*******************/

.slider {
    background: url('../img/blue_bg.png') center no-repeat;
    background-size: cover;
    height: 695px;

}

/***********FEEDBACK***************/

.feedback {
    padding: 50px 0;
    background: #eff3f3;
  
       .feedback__slide_wrap { 
            position: relative;
        }

        .feedback__item {
            float: left;

        }

        .feedback__item_pic {
            width: 30%;
        }

        .feedback__item_info {
            margin-top: 4%;
            /*position: absolute;
            transform: translate(44%,21%);*/
            width: 70%;
            color: rgb(86, 100, 115);


            h4 {
                font-size: 26px;
                font-weight: 500;
            }

            p {
                font-size: 13px;
                line-height: 21px;  
            }
    
        }
}



    .slide__left {
        position: absolute;
        top: 39%;
        left: -73px;
        text-decoration: none;
        font-size: 30px;
        color:#3498db;
    }

    .slide__right {
        @extend .slide__left;
        left:unset;
        right:-73px;
    }


.slick-prev, .slick-next {
    display: none;
}

.slick-prev:before {
    content: '\f053';
    color: #0054FF;
}

.slick-next:before {
    content: '\f054';
    color: #0054FF;
}

/****************SIGN_UP***********/

.signUp {
    background: url('../img/bgprefooter.png')0 0 no-repeat;
    background-size: cover;
    height: 447px;
    padding: 134px 0 93px 0;

    .signUp__content {
        color: rgb(239, 243, 243);
        text-align: right;
        padding-right: 91px;
        
        .signUp__content_title {
            font-size: 30px;
            font-weight: 600;
        }

        .signUp__content_text {
            font-size: 20px;
            font-weight: 400;
            
         }

    }

    .signUp__control {
        text-align: center;
        .sign__input {
            background-color: rgba(239, 243, 243, 0.1);
            border: 2px solid rgba(239, 243, 243, 0.7);
            color: rgb(239, 243, 243);
            display: inline-block;
            font-size: 13px;
            font-weight: 400;
            height: 43px;
            padding-left: 20px;
            width: 179px;
            margin-right: 20px;
            &:focus {
                outline:none;
            }

            &:last-child {
                margin-right: 0;
            }
           
        }

        .sign_input_last {    /*?????*/
            margin-right: 0;
        }

        .sign__input:-moz-placeholder {
            color:#fff;     
        }

        .sign__input::-moz-placeholder {
            color:#fff;
        }

        .sign__input::-webkit-input-placeholder {
            color:#fff;
        }

        .sign__btn {
            display: block;
            background-color: rgb(52, 152, 219);
            color:#fff;
            padding: 15px 42px;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            width: 180px;
            margin:18px auto;

            &:hover {
                background-color: rgba(52, 152, 219, 0.5);
            }
        }

    }


}


/*********FOOTER**********/

.footer {
    background-color: #1b1e20;
    text-align: center;

    .footer__content {
        padding: 77px 0 65px 0;

        .footer__content_download {
            vertical-align: middle;

            p {
                display: inline-block;
                color: rgb(221, 223, 225);
                font-size: 30px;
                margin-right: 20px;
                margin-bottom: 0;
                vertical-align: middle;
            }

            .footer__content_btn {
                display: inline-block;
                background-color: rgb(239, 243, 243);
                border-radius: 5px;
                text-decoration: none;
                color: rgb(27, 30, 32);
                font-size: 16px;
                font-weight: 400;
                text-transform: uppercase;
                padding: 18px 53px;

                &:hover {
                    background-color: rgba(68, 204, 246, 1);
                }
            }
            
        }

        .footer__content_icons-item {
            display: inline-block;
        }
    

    .footer__content_icons {
        margin:33px 0;

        .footer__icons_link {
            display: inline-block;
            width: 33px;
            height: 33px;
            line-height: 33px;
            text-decoration: none;
            color:#fff;
            font-size: 30px;
            vertical-align: middle;
            margin-right: 20px;
            text-align: center;
            vertical-align: middle;
            border-radius: 5px;
            &:last-child {
                margin-right: 0;
            }
        }

        .footer__icons_fb {
            background-color: #3b5998;
        }

        .footer__icons_tw {
            background-color: #44ccf6;
        }

        .footer__icons_p {
            background-color: #cb2027;
        }

        .footer__icons_you {
            background-color: #ce332d;
        }

        .footer__icons_vm {
            background-color: #86c9ef;
        }

    }

    .footer__content_copyright {
        color: rgb(221, 223, 225);
        font-size: 16px;
        font-weight: 400;
    }

    }
    

}



