@import url(reset.css);  

body{
	background: url(../img/background.png) repeat-x top center, #0C75A0;
	font-family: Tahoma;
}
.content{
  	width: 1018px;
  	margin: 0 auto;
  	background: #f9f9f9;
  	border-bottom: 2px solid #424c43;
  	-webkit-box-shadow: 0px 0px 5px 0px rgba(42,45,46,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(42,45,46,1);
	box-shadow: 0px 0px 5px 0px rgba(42,45,46,1);
  }
  	/*HEADER*/

 header .logo{
 	position: relative;
  	top:49px;
  	left:37px;
  	float: left;
	width: 330px;
  }

header .logo_text{
		position: absolute;
		top:102px;
	    left:72px;
	    font: 12px Tahoma;
    	color: #128aa7;
	}

.right_menu{
	float: right;
	margin-right: 35px;
}

.contacts{
	font-size: 13px;
    color: #128aa7;
    line-height: 20px;
    margin-top: 46px;
    text-align: left;
    float: right;
}

.contacts p:first-child{
	font-size:14px;
}

.country_list{
	margin-top: 23px;
	margin-bottom: 10px;
	float: right;
	clear: both;
}
.country_list ul li{
	display: inline-block;
	margin-right: 5px;
	padding: 0 5px;
	text-align: center;

}
.country_list ul li a{
	font-size: 10px;
    color: #128aa7;
}

header .maldives{
	clear: both;
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;

}
.maldives img{
	width: 1019px;
}

		/*/HEADER*/

		/*NAV*/
.menu{
	background: #323232;
	margin-top: -3px;
	border-bottom: 2px solid black;
	-webkit-box-shadow: 0px 0px 4px 1px rgba(85,85,85,1);
	-moz-box-shadow: 0px 0px 4px 1px rgba(85,85,85,1);
	box-shadow: 0px 0px 4px 1px rgba(85,85,85,1);
	height: 28px;


}
.arrow1:after,
.arrow2:after,
.arrow3:after{
	content: "\25BC";
	color: #eee;
	position: absolute;
	top:7px;
	right: 21px;
	font-size: 12px;
}

.menu > li{
	position: relative;
	display: inline-block;
	font-family: Tahoma;
	height: 30px;

}

.menu a{
	display: block;
	text-decoration: none;
	color:#eee;
	font-size: 14px;
    padding: 6px 35px;

}
.menu .sub-menu{
	text-align: center;
	position: absolute;
	top:29px;
	background: #323232;
	width: 100%;
	line-height: 10px;
	color:#eee;
	display: none;
}
.menu .sub-menu a{
	padding:6px 10px;	
}
.menu >li:hover .sub-menu{
	display: block;
}

		/*MAIN*/
main{
	font-family: Tahoma;
	overflow: hidden;
}

main .left-column{
	width: 209px;
	float: left;
	border-right: 1px solid grey;
	border-left: 1px solid grey;
	background: #edeef0;
	text-align: center;
	line-height: 22px;
	font-size: 14px;
	padding-bottom: 20000px;
	margin-bottom: -20000px;

}
main .central-column{
	float: left;
	width: 590px;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}
main .right-column{
	float: right;
	width: 209px;
	border-right: 1px solid grey;
	border-left: 1px solid grey;
	background: #edeef0;
	text-align: center;
	line-height: 22px;
	font-size: 14px;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}
main h3{
	font-size: 18px;
	margin:10px 0;
}

footer{
	color: #eee;
	text-align: center;
	font:12px Tahoma;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #0c739f;

}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}


