				/*VARIABLES*/
				
$text:#7c7e88;
$titels:#2c2e37;
$red_btn:#f84444;
$bg:#fff;

$sans:'open_sansregular';
$myriad:'MyriadProRegular';
$ralbold:'ralewaybold';
$ralextra:'ralewayextrabold';


body {
	background: $bg;
	font-family: 'Arial';
	overflow-x:hidden;
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
	width: 100%;
}

header {
	background: url('../img/header_bg.png') top center no-repeat;
	background-size: cover;
	height: 900px;
	padding-top: 40px;
	position: relative;
}

.header__top_nav {
	text-align: right;
}

				/*MENU*/

.header__top_nav_list {
    border-radius: 5px;
    background-color: rgba(200, 221, 233, 0.6);
    display: none; 
    padding: 15px 10px;
    right: 5%;
    top: -64%;
    text-align: right;
    position: absolute;

	li {
		display: inline-block;
	}

	a {
		color:$text;
		text-decoration: none;
		font-size: 18px;
		margin-right: 20px;

		&:hover {
			color:#23527c;
		}
	}
}

 .header__menu {
    color: $text;
    cursor: pointer;
    font-size: 20px;
}


			/*SEARCH*/

.header__top_search {
	color:$text;
	text-align: right;

	a {
		color:$text; 
		text-decoration: none;
	}

	form {
	    background: transparent;
	    display: none;
	    font-size: 20px;
	    right: 14%;
	    top: -9px;
		position: absolute;

        input {
            background: #d9e5ed;
            border:none;
            border-radius: 5px;
            padding:10px;

            &:focus {
                outline:none;
            	box-shadow: 0 0 10px #adf33d;
            }
        }
    }
}

.fa-search {
	position: relative;
}

				/*HEADER__CONTENT*/

.header__content {
    left: 51%;
	margin: 0 auto;
	text-align: center;
	top: 55%;
    transform: translate(-50%,-50%);
	position: absolute;
}

.btn {
	border-radius: none;
    background: #f84444;
    color: #fff;
    font-size: 17px;
    font-family: $myriad;
    font-weight: 200;
    text-transform: uppercase;
    &:hover {
    	background:$bg;
    	border:1px solid $text;
    	color:$titels;
    }
}
	

.header__content__title {
	color:$bg;
	font-size: 35px;
	font-weight: 700;	
    font-family: $ralbold;
	letter-spacing: 2em;
	margin-top: 20px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}


				/*TEAM*/
.team {
	padding-bottom: 170px;
}

.team__title {
	color: $titels;
	text-align: center;
	font-family:$ralextra;
	font-size: 23px;
	padding: 137px 0 117px 0;
	text-transform: uppercase;
}

.team__title_text {
    margin: 0 auto;
    padding-top: 36px;
    width: 27%;
}

.team__content {
	text-align: left;
	margin-bottom: 47px;
}

.team__content_info {
	padding: 123px 65px 0 65px;

	&:last-child {
		padding: 123px 84px 0 84px;
	}

	&:first-child {
		text-align: right;
		p {
			text-align: left;
		}
	}

}

.pad_null {
	padding-right: 0 !important;
}

	
.team__content_title {
	@extend .team__title;
	padding: 0 0 28px 0;
	text-align: left;
}

.team__content_text {
	color: $text;
	font-family: $sans;
	font-size: 14px;
	line-height: 26px;
}

.team__content_wrapper {
	padding: 0 81px;
}

.team__content_btn {
	display: inline-block;
	margin-top: 60px;
	text-align: center;
	width: 130px;
}

.sideline {
	background: url('../img/line.png') no-repeat;
	background-position: 0 42%;
}

				/**********SLIDER***********/

.journal {
	background: url('../img/journal_bg.png') center no-repeat;
	background-size: cover;
	height: 723px;
	position: relative;
	margin-top: 200px;


}

.journal__contain {
	top: 50%;
	left: 5%;
	position: absolute;
	transform: translate(50% 50%);
	vertical-align: middle;
}

.journal__title {
	margin:40px 0;
	padding: 0;
	text-align: left;

}

/******************GALLERY******************/

.gallery__title {
	@extend .team__title;
	padding: 115px 0 309px 0;
	background:$titels; 
	color:$bg;
}

.gallery__title_info {
	font-family: $sans;
	font-size: 14px;
	color: #949494;
	margin: 0 auto;
	line-height: 26px;
	text-align: center;
	text-transform: none;
	width: 53%;
}

.gallery_title_btn {
	text-align: center;
}

.team__content_btn {
	margin-right: 20px;
}

.gallery__wrapper {
	position: relative;
	margin-top: -17%;
}

.dg-container {
	position: absolute;

	i {
		color: #fff;
	    font-size: 34px;
	}

}

.dg-wrapper a img {
     padding: 0; 
     width: 450px;
}

.dg-wrapper a {
    width: initial;
    height: initial;
}

.dg-container nav {
    bottom: 50%;
}

      		/*GALLERY-SLIDER*/

.gallery__slider {
	margin-top: 30%;
}

.gal__line {
	text-align: right;
	display: inline-block;
	width: 80%;
	height: 2px;
	border-bottom: 1px solid #dfdfdf;
	margin-right:50px;
}

.gal__pagination {
	 a {
	 	color:#b2aeae;

	 	&:hover {
	 		color:$titels;
	 		text-decoration: none;
	 	}
	 }
	display: inline-block;
}

 .slick-slide.slick-active {
    text-align: right;
}

.gallery__slider_title  {
	@extend .team__title;
	text-align: left;
	padding: 0;
}

.gallery__slider_text{
	@extend .team__content_text;
	text-align: left;
}

		/**************COMMAND*******************/

.command {
	text-align: center;
	padding: 125px 0;
}

.command__title {
	padding: 38px 0 0 0;
}

.command__list {
	text-align: left;
	img {
		margin-bottom: 52px;
		text-align: center;
	}
}

.command__list_item_title {
	color: $titels;
	font-family: $ralextra;
	font-size: 15px;
}

.command__list_item_pos {
	color: #2c2e37;
	font-family: $myriad;
	font-size: 15px;
	text-transform: uppercase;
}

.horisontal {
	height: 2px;
	padding: 30px 0;
	text-align: left;
	width: 30px;
}

.command__list_item_info {
	color: $text;
	font-family: $sans;
	font-size: 14px;
	line-height: 26px;
}

.command__list_item_social {
	text-align: left;

	a {
		color: $text;
		display: inline-block;
		font-size: 14px;
		margin-right: 2%;
	}
}

.command__list_item {
	margin-bottom: 50px;
}

			/*SPONSORS*/

.sponsors__list {
	text-align: center;
	list-style:none;
	padding-bottom: 74px;

	img {
		text-align: center;
	}

}

.sponsors__list_item {
	a:focus {
		outline: none;
	}
}

			/*FOOTER*/
footer {
	background: #2c2e37;
	padding: 84px 0;

	.command__list_item_social {
		text-align: left;

		i {
			color:$bg;
			margin-right: 10px;
		}
	}
}

.footer__content {
	color:$bg;
	font-family: $sans;
	vertical-align: top;
}

.footer__settings {
	text-align: center;
}

.footer__list_item {
	color:$bg;
	display: block;
	font-size: 13px;
	line-height: 40px;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.footer__form {
	color: $bg;
	p {
		font-size: 12px;
	}

	input {
		width: 339px;
		height: 40px;
		opacity: 0.2;
		border: 2px solid white;
		color: $bg;
		font-size: 12px;
		font-weight: 400;
		padding-left: 20px;

	}
}

.footer__form_title {
	font-size: 14px;
	text-transform: uppercase;
}

/*
		input:-moz-placeholder {
			color:$bg;	
			opacity: 1;	
		}

		input::-moz-placeholder {
			color:$bg;	
			opacity: 1;	
		}

		input::-webkit-input-placeholder {
			color:$bg;	
			opacity: 1;	
		}
*/


    
        
   






       
        
     



	
	
	
	



