@media (min-width: 480px) {
	.wrap {
		width: 480px;
	}	
	.main__menu {
		display: none;
	}
	.header__menu {
		display: block;
	}
	.slider {
		background-color: #000;
		opacity: 0.7;
		width: 100%;
		height: 100%;
	}
	.slider__button {
		position: relative;
		z-index: 2;
	}
}